n8n/workflow.json
{
  "name": "Propulsar — Content Engine v3",
  "nodes": [

    {
      "parameters": {
        "httpMethod": "POST",
        "path": "propulsar-content",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "webhook-trigger",
      "name": "🎯 Webhook Trigger",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [200, 300]
    },

    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={ \"status\": \"received\" }",
        "options": {}
      },
      "id": "respond-wizard",
      "name": "✅ Responder al Wizard",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [420, 160]
    },

    {
      "parameters": {
        "model": "gpt-4o",
        "messages": {
          "values": [
            {
              "role": "system",
              "content": "Eres el redactor de contenido de Propulsar.ai, agencia de automatizaciones IA para PYMEs.\n\nVoz: profesional pero accesible, directo, español latinoamericano (tuteo).\nSin buzzwords. Prohibido: revolutionario, disruptivo, sinergia, delve, unleash.\n\nDevolvé SOLO JSON válido, sin markdown:\n{\n  \"instagram\": {\n    \"caption\": \"post completo con hashtags al final\",\n    \"image_prompt\": \"prompt en inglés para generación de imagen, dark background purple-magenta gradients, professional social media\"\n  },\n  \"facebook\": {\n    \"caption\": \"post completo (más corto, 3-5 hashtags)\"\n  }\n}"
            },
            {
              "role": "user",
              "content": "=Genera un post {{ $json.body.type }} sobre: \"{{ $json.body.topic }}\"\n\n{% if $json.body.angle %}Ángulo: {{ $json.body.angle }}{% endif %}\n{% if $json.body.has_text_in_image %}IMPORTANTE: El image_prompt debe incluir texto visible específico relevante al tema, ya que se usará Ideogram (excelente para texto en imagen).{% endif %}\n\nPlataformas: {{ $json.body.platforms.join(', ') }}\n\nInstagram: hook <125 chars, 150-300 palabras, párrafos cortos, 8-12 hashtags, máx 3 emojis, CTA.\nFacebook: 100-200 palabras, 3-5 hashtags, pregunta final para comentarios, CTA."
            }
          ]
        },
        "options": { "temperature": 0.75 }
      },
      "id": "openai-text",
      "name": "🤖 GPT-4o — Texto",
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 1.4,
      "position": [420, 360],
      "credentials": {
        "openAiApi": { "id": "openai-credentials", "name": "OpenAI" }
      }
    },

    {
      "parameters": {
        "jsCode": "const raw = $input.first().json.message.content;\nlet parsed;\ntry {\n  parsed = JSON.parse(raw.replace(/```json\\n?/g,'').replace(/```\\n?/g,'').trim());\n} catch(e) {\n  throw new Error('JSON inválido de OpenAI: ' + raw.substring(0,200));\n}\nconst b = $('🎯 Webhook Trigger').first().json.body;\nreturn [{ json: {\n  instagram:       parsed.instagram || null,\n  facebook:        parsed.facebook  || null,\n  image_prompt:    parsed.instagram?.image_prompt || '',\n  platforms:       b.platforms,\n  topic:           b.topic,\n  type:            b.type,\n  angle:           b.angle || null,\n  image_model:     b.image_model || 'flux',\n  fal_model_id:    b.fal_model_id || 'fal-ai/flux-pro/v1.1',\n  has_own_image:   b.has_own_image || false,\n  image_url:       b.image_url || null,\n  has_text_in_image: b.has_text_in_image || false,\n  approval_number: b.approval_number,\n  timestamp:       b.timestamp\n}}];"
      },
      "id": "parse-content",
      "name": "🔧 Parsear contenido",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [640, 360]
    },

    {
      "parameters": {
        "conditions": {
          "conditions": [{
            "leftValue":  "={{ $json.has_own_image }}",
            "rightValue": true,
            "operator": { "type": "boolean", "operation": "true" }
          }]
        }
      },
      "id": "check-own-image",
      "name": "🖼️ ¿Imagen propia?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [860, 360]
    },

    {
      "parameters": {
        "jsCode": "return [{ json: { ...$input.first().json, final_image_url: $input.first().json.image_url } }];"
      },
      "id": "use-own-image",
      "name": "📎 Imagen propia",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1080, 200]
    },

    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "conditions": [{
                  "leftValue":  "={{ $json.image_model }}",
                  "rightValue": "flux",
                  "operator": { "type": "string", "operation": "equals" }
                }]
              },
              "output": 0
            },
            {
              "conditions": {
                "conditions": [{
                  "leftValue":  "={{ $json.image_model }}",
                  "rightValue": "ideogram",
                  "operator": { "type": "string", "operation": "equals" }
                }]
              },
              "output": 1
            },
            {
              "conditions": {
                "conditions": [{
                  "leftValue":  "={{ $json.image_model }}",
                  "rightValue": "nanoBanana",
                  "operator": { "type": "string", "operation": "equals" }
                }]
              },
              "output": 2
            }
          ]
        },
        "fallbackOutput": 0
      },
      "id": "router-image-model",
      "name": "🎨 Router — Modelo de imagen",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3,
      "position": [1080, 440],
      "notes": "Rutas: 0=Flux, 1=Ideogram, 2=Nano Banana. Fallback → Flux."
    },

    {
      "parameters": {
        "method": "POST",
        "url": "https://fal.run/fal-ai/flux-pro/v1.1",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "Authorization", "value": "=Key {{ $env.FAL_API_KEY }}" },
            { "name": "Content-Type",  "value": "application/json" }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"prompt\": \"{{ $json.image_prompt }} — style: dark background #1a1a2e, purple to magenta gradient accents, professional high-quality social media graphic, ultra detailed, 4K\",\n  \"image_size\": \"square_hd\",\n  \"num_inference_steps\": 28,\n  \"guidance_scale\": 3.5,\n  \"num_images\": 1,\n  \"enable_safety_checker\": true\n}",
        "options": {}
      },
      "id": "flux-generate",
      "name": "⚡ Flux 2 Pro (FAL.AI)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1300, 300],
      "notes": "FAL model: fal-ai/flux-pro/v1.1\nCosto: ~$0.03/img\nFortaleza: fotorrealismo premium"
    },

    {
      "parameters": {
        "method": "POST",
        "url": "https://api.ideogram.ai/generate",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "Api-Key",      "value": "={{ $env.IDEOGRAM_API_KEY }}" },
            { "name": "Content-Type", "value": "application/json" }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"image_request\": {\n    \"prompt\": \"{{ $json.image_prompt }} — professional design, dark background #1a1a2e, purple and magenta gradient elements, bold readable typography, social media post\",\n    \"aspect_ratio\": \"ASPECT_1_1\",\n    \"model\": \"V_2\",\n    \"magic_prompt_option\": \"AUTO\",\n    \"style_type\": \"DESIGN\"\n  }\n}",
        "options": {}
      },
      "id": "ideogram-generate",
      "name": "🔤 Ideogram v3",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1300, 440],
      "notes": "Costo: ~$0.06/img\nFortaleza: texto legible en imagen (90-95% precisión)\nRequiere IDEOGRAM_API_KEY"
    },

    {
      "parameters": {
        "method": "POST",
        "url": "https://fal.run/fal-ai/nano-banana",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "Authorization", "value": "=Key {{ $env.FAL_API_KEY }}" },
            { "name": "Content-Type",  "value": "application/json" }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"prompt\": \"{{ $json.image_prompt }} — ultra high quality, dark background #1a1a2e, purple magenta gradient accents, professional social media graphic, 4K resolution, photorealistic\",\n  \"num_images\": 1,\n  \"aspect_ratio\": \"1:1\",\n  \"output_format\": \"png\",\n  \"safety_tolerance\": \"4\"\n}",
        "options": {}
      },
      "id": "nano-banana-generate",
      "name": "🍌 Nano Banana Pro (FAL.AI)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1300, 580],
      "notes": "FAL model: fal-ai/nano-banana (Gemini 3 Pro Image)\nCosto: ~$0.15/img\nFortaleza: razonamiento visual, 4K, alto impacto\nMisma FAL_API_KEY que Flux"
    },

    {
      "parameters": {
        "jsCode": "// Normalizar la URL de imagen de cualquier proveedor\nconst content = $('🔧 Parsear contenido').first().json;\nconst imageData = $input.first().json;\nconst model = content.image_model;\n\nlet finalUrl = null;\n\nif (model === 'flux' || model === 'nanoBanana') {\n  // FAL.AI devuelve: { images: [{ url }] } o { image: { url } }\n  finalUrl = imageData.images?.[0]?.url\n          || imageData.image?.url\n          || null;\n} else if (model === 'ideogram') {\n  // Ideogram devuelve: { data: [{ url }] }\n  finalUrl = imageData.data?.[0]?.url || null;\n} else if (model === 'custom') {\n  finalUrl = content.image_url;\n}\n\nif (!finalUrl) {\n  console.warn('⚠ No se pudo extraer URL de imagen. Respuesta:', JSON.stringify(imageData).substring(0, 300));\n}\n\nreturn [{ json: { ...content, final_image_url: finalUrl, image_provider_response: imageData } }];"
      },
      "id": "normalize-image",
      "name": "🔗 Normalizar URL imagen",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1520, 440]
    },

    {
      "parameters": {
        "jsCode": "const d = $input.first().json;\nconst typeEmoji  = { educational:'📚', authority:'🎤', case_study:'🏆' };\nconst typeLabel  = { educational:'Educativo', authority:'Autoridad', case_study:'Caso de éxito' };\nconst modelInfo  = {\n  flux:       '⚡ Flux 2 Pro',\n  ideogram:   '🔤 Ideogram v3',\n  nanoBanana: '🍌 Nano Banana Pro',\n  custom:     '📎 Imagen propia',\n};\n\nconst igPreview = d.instagram?.caption?.substring(0, 280) || 'N/A';\nconst fbPreview = d.facebook?.caption?.substring(0, 180) || 'N/A';\nconst igDots = (d.instagram?.caption?.length || 0) > 280 ? '...' : '';\nconst fbDots = (d.facebook?.caption?.length || 0)  > 180 ? '...' : '';\n\nconst msg = `🚀 *PROPULSAR CONTENT ENGINE*\n\n${typeEmoji[d.type] || '📝'} *Tipo:* ${typeLabel[d.type] || d.type}\n📌 *Tema:* ${d.topic}\n${d.angle ? `🎯 *Ángulo:* ${d.angle}\\n` : ''}📱 *Redes:* ${d.platforms.join(', ')}\n🖼️ *Imagen:* ${modelInfo[d.image_model] || d.image_model}\n\n━━━━━━━━━━━━━━━━\n📸 *INSTAGRAM:*\n${igPreview}${igDots}\n\n━━━━━━━━━━━━━━━━\n👥 *FACEBOOK:*\n${fbPreview}${fbDots}\n\n━━━━━━━━━━━━━━━━\n🖼️ ${d.final_image_url ? '✅ Imagen generada' : '⚠️ Sin imagen'}\n\n*¿Publicar?*\n✅ *SI* para publicar\n❌ *NO* para cancelar`;\n\nreturn [{ json: { ...d, whatsapp_message: msg, session_id: `propulsar_${Date.now()}` } }];"
      },
      "id": "prepare-whatsapp",
      "name": "📱 Preparar mensaje WA",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1740, 440]
    },

    {
      "parameters": {
        "method": "POST",
        "url": "https://api.ycloud.com/v2/whatsapp/messages",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "X-API-Key",    "value": "={{ $env.YCLOUD_API_KEY }}" },
            { "name": "Content-Type", "value": "application/json" }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"from\": \"{{ $env.YCLOUD_WHATSAPP_NUMBER }}\",\n  \"to\":   \"{{ $json.approval_number }}\",\n  \"type\": \"text\",\n  \"text\": { \"body\": \"{{ $json.whatsapp_message }}\" }\n}",
        "options": {}
      },
      "id": "send-whatsapp",
      "name": "📤 Enviar WhatsApp",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1960, 440]
    },

    {
      "parameters": {
        "httpMethod": "POST",
        "path": "propulsar-whatsapp-reply",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "webhook-reply",
      "name": "📨 Webhook — Reply WA",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [2180, 440],
      "notes": "Configurar esta URL en YCloud → Webhooks → Incoming Messages"
    },

    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={ \"status\": \"ok\" }",
        "options": {}
      },
      "id": "respond-ycloud",
      "name": "✅ Responder YCloud",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [2400, 280]
    },

    {
      "parameters": {
        "conditions": {
          "conditions": [{
            "leftValue":  "={{ $json.body?.message?.text?.body?.trim().toUpperCase() }}",
            "rightValue": "SI",
            "operator": { "type": "string", "operation": "equals" }
          }]
        }
      },
      "id": "check-approval",
      "name": "✅ ¿Aprobado?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [2400, 460]
    },

    {
      "parameters": {
        "jsCode": "// Recuperar sesión de Supabase\nconst phone = $json.body?.message?.from;\nconst supabaseUrl = $env.SUPABASE_URL;\nconst supabaseKey = $env.SUPABASE_ANON_KEY;\n\nif (!supabaseUrl || !supabaseKey) {\n  console.log('Supabase no configurado — modo testing');\n  return [{ json: { approved: true, topic: 'TEST', note: 'Configurar Supabase' } }];\n}\n\nconst https = require('https');\nconst url = new URL(`${supabaseUrl}/rest/v1/content_sessions?approval_number=eq.${phone}&status=eq.pending&order=created_at.desc&limit=1`);\n\nconst session = await new Promise((resolve, reject) => {\n  const req = https.get({\n    hostname: url.hostname,\n    path: url.pathname + url.search,\n    headers: { 'apikey': supabaseKey, 'Authorization': `Bearer ${supabaseKey}` }\n  }, (res) => {\n    let d = '';\n    res.on('data', c => d += c);\n    res.on('end', () => { try { resolve(JSON.parse(d)[0] || null); } catch { resolve(null); }});\n  });\n  req.on('error', reject);\n});\n\nif (!session) throw new Error('Sesión pendiente no encontrada para: ' + phone);\nreturn [{ json: session }];"
      },
      "id": "retrieve-session",
      "name": "🔍 Recuperar sesión Supabase",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [2620, 380]
    },

    {
      "parameters": {
        "jsCode": "console.log('Rechazado:', $json.body?.message?.from, new Date().toISOString());\nreturn [{ json: { status:'rejected', ts: new Date().toISOString() } }];"
      },
      "id": "log-rejected",
      "name": "❌ Loguear rechazo",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [2620, 560]
    },

    {
      "parameters": {
        "documentId": { "value": "={{ $env.GOOGLE_SHEETS_ID }}" },
        "sheetName":  { "value": "Log" },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Fecha":          "={{ new Date().toISOString() }}",
            "Tema":           "={{ $json.topic }}",
            "Tipo":           "={{ $json.type }}",
            "Angulo":         "={{ $json.angle || '' }}",
            "Plataformas":    "={{ Array.isArray($json.platforms) ? $json.platforms.join(', ') : '' }}",
            "Modelo_Imagen":  "={{ $json.image_model }}",
            "Imagen_URL":     "={{ $json.final_image_url || '' }}",
            "Estado":         "Publicado"
          }
        }
      },
      "id": "log-sheets",
      "name": "📊 Google Sheets Log",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.4,
      "position": [2840, 380],
      "credentials": {
        "googleSheetsOAuth2Api": { "id": "google-sheets-credentials", "name": "Google Sheets" }
      }
    }

  ],

  "connections": {
    "🎯 Webhook Trigger": {
      "main": [[
        { "node": "✅ Responder al Wizard", "type": "main", "index": 0 },
        { "node": "🤖 GPT-4o — Texto",     "type": "main", "index": 0 }
      ]]
    },
    "🤖 GPT-4o — Texto":    { "main": [[{ "node": "🔧 Parsear contenido",      "type": "main", "index": 0 }]] },
    "🔧 Parsear contenido": { "main": [[{ "node": "🖼️ ¿Imagen propia?",        "type": "main", "index": 0 }]] },
    "🖼️ ¿Imagen propia?": {
      "main": [
        [{ "node": "📎 Imagen propia",               "type": "main", "index": 0 }],
        [{ "node": "🎨 Router — Modelo de imagen",   "type": "main", "index": 0 }]
      ]
    },
    "📎 Imagen propia":             { "main": [[{ "node": "📱 Preparar mensaje WA",   "type": "main", "index": 0 }]] },
    "🎨 Router — Modelo de imagen": {
      "main": [
        [{ "node": "⚡ Flux 2 Pro (FAL.AI)",       "type": "main", "index": 0 }],
        [{ "node": "🔤 Ideogram v3",               "type": "main", "index": 0 }],
        [{ "node": "🍌 Nano Banana Pro (FAL.AI)",  "type": "main", "index": 0 }]
      ]
    },
    "⚡ Flux 2 Pro (FAL.AI)":      { "main": [[{ "node": "🔗 Normalizar URL imagen", "type": "main", "index": 0 }]] },
    "🔤 Ideogram v3":              { "main": [[{ "node": "🔗 Normalizar URL imagen", "type": "main", "index": 0 }]] },
    "🍌 Nano Banana Pro (FAL.AI)": { "main": [[{ "node": "🔗 Normalizar URL imagen", "type": "main", "index": 0 }]] },
    "🔗 Normalizar URL imagen":    { "main": [[{ "node": "📱 Preparar mensaje WA",   "type": "main", "index": 0 }]] },
    "📱 Preparar mensaje WA":      { "main": [[{ "node": "📤 Enviar WhatsApp",        "type": "main", "index": 0 }]] },
    "📨 Webhook — Reply WA": {
      "main": [[
        { "node": "✅ Responder YCloud", "type": "main", "index": 0 },
        { "node": "✅ ¿Aprobado?",       "type": "main", "index": 0 }
      ]]
    },
    "✅ ¿Aprobado?": {
      "main": [
        [{ "node": "🔍 Recuperar sesión Supabase", "type": "main", "index": 0 }],
        [{ "node": "❌ Loguear rechazo",            "type": "main", "index": 0 }]
      ]
    },
    "🔍 Recuperar sesión Supabase": { "main": [[{ "node": "📊 Google Sheets Log", "type": "main", "index": 0 }]] }
  },

  "settings": { "executionOrder": "v1", "saveManualExecutions": true },
  "tags": ["propulsar", "content-engine", "v3"],
  "_meta": {
    "version": "3.0",
    "image_models": {
      "flux":       { "fal_id": "fal-ai/flux-pro/v1.1",   "cost": "$0.03/img", "key": "FAL_API_KEY" },
      "ideogram":   { "api":    "api.ideogram.ai",         "cost": "$0.06/img", "key": "IDEOGRAM_API_KEY" },
      "nanoBanana": { "fal_id": "fal-ai/nano-banana",      "cost": "$0.15/img", "key": "FAL_API_KEY" }
    },
    "note": "Midjourney NO incluido — no tiene API oficial. Riesgo de ban en servicios de terceros. Ver README."
  }
}
