n8n/workflow.json
{
  "name": "Propulsar — Content Engine v3",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "propulsar-content",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "webhook-trigger",
      "name": "🎯 Webhook Trigger",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        208,
        304
      ],
      "webhookId": "ac76ad2e-ccd7-4a27-8ff8-7f561de0629b"
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={ \"status\": \"received\" }",
        "options": {}
      },
      "id": "respond-wizard",
      "name": "✅ Responder al Wizard",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [
        432,
        160
      ]
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "value": "gpt-4o",
          "mode": "list",
          "cachedResultName": "GPT-4O"
        },
        "messages": {
          "values": [
            {
              "content": "Eres el director creativo de Propulsar.ai, agencia de automatizaciones IA para PYMEs.\n\nTu tarea es generar prompts de imagen para cada slide de un carrusel de Instagram/Facebook, más los captions para ambas plataformas.\n\nPRIMERO elige la estructura de carrusel más adecuada para el tema y tipo:\n- narrativo: cuenta una historia con arco (inicio → desarrollo → resolución)\n- listicle: lista de tips, herramientas o beneficios numerados\n- paso-a-paso: instrucciones secuenciales para lograr algo\n- antes-después: contraste entre una situación actual y la transformación\n- pregunta-respuesta: hook con pregunta, slides respondiendo, CTA final\n\nIDENTIDAD VISUAL PROPULSAR (aplicar en CADA prompt sin excepción):\n- Fondo oscuro profundo: #1a1a2e\n- Gradiente principal: púrpura #6B46C1 → magenta #EC4899\n- Tipografía bold sans-serif en español, legible, prominente\n- Formato cuadrado 1:1\n- Estética profesional tech/AI, alto contraste, ultra-detailed, 4K quality\n\nREGLAS DE TEXTO EN IMAGEN (CRÍTICO):\n1. El texto_overlay es el texto EXACTO que aparecerá visible en la imagen. Máximo 6-8 palabras. Si necesitás más, dividí en más slides.\n2. En el campo prompt, el texto en español va PRIMERO entre comillas dobles, usando el patrón: Text says: \"[texto_overlay exacto]\". Después describí el visual.\n3. NUNCA incluir texto en inglés visible en la imagen. Todo texto visible debe ser en español castellano.\n4. Prohibido usar texto lorem ipsum, texto decorativo ilegible, o texto de relleno.\n\nREGLAS GENERALES:\n1. Cada campo prompt debe ser COMPLETAMENTE autocontenido con TODAS las restricciones de estilo. Prohibido usar \"same as above\", \"idem\" o referencias a otros slides.\n2. El array slides debe tener EXACTAMENTE el número de slides solicitados.\n3. Los prompt van en inglés (excepto el texto visible que va en español entre comillas).\n4. Los texto_overlay van en español.\n5. Respondé con JSON puro sin markdown, sin bloques ```json.\n\nFORMATO DE RESPUESTA:\n{\n  \"estructura\": \"narrativo|listicle|paso-a-paso|antes-después|pregunta-respuesta\",\n  \"instagram_caption\": \"caption completo con hook <125 chars, 150-300 palabras, párrafos cortos, 8-12 hashtags, máx 3 emojis al inicio de línea, CTA claro\",\n  \"facebook_caption\": \"caption 100-200 palabras, 3-5 hashtags, pregunta para comentarios al final, CTA\",\n  \"slides\": [\n    {\n      \"slide_num\": 1,\n      \"texto_overlay\": \"máx 6-8 palabras en español\",\n      \"prompt\": \"Text says: \\\"[texto_overlay exacto aquí]\\\". Dark background #1a1a2e, bold white sans-serif typography centered, purple #6B46C1 to magenta #EC4899 gradient glow, professional AI/tech aesthetic, ultra-detailed, crisp text, square 1:1, no other text visible. [descripción visual específica del slide].\"\n    }\n  ]\n}\n\nEJEMPLO DE UN BUEN PROMPT:\nText says: \"Automatiza tu WhatsApp\". Dark background #1a1a2e, bold white sans-serif typography centered, purple #6B46C1 to magenta #EC4899 gradient glow behind text, professional AI/tech aesthetic, minimalist icons of chat bubbles and automation gears, ultra-detailed, crisp text, square 1:1, no other text visible.",
              "role": "system"
            },
            {
              "content": "=Tema: \"{{ $json.body.topic }}\"\nTipo: {{ $json.body.type }}\n{% if $json.body.angle %}Ángulo: {{ $json.body.angle }}\n{% endif %}Slides requeridos: {{ $json.body.num_images }}\n\nElige la estructura del carrusel apropiada y genera EXACTAMENTE {{ $json.body.num_images }} prompts de imagen, más los captions para Instagram y Facebook."
            }
          ]
        },
        "options": {
          "temperature": 0.5
        }
      },
      "id": "openai-carousel",
      "name": "🎠 GPT-4o — Prompts Carrusel",
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 1.4,
      "position": [
        640,
        528
      ],
      "credentials": {
        "openAiApi": {
          "id": "oSMopb75vo4NhdlT",
          "name": "OpenAI account 29"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const raw = $input.first().json.message.content;\nconst b = $('🎯 Webhook Trigger').first().json.body;\n\nlet parsed;\ntry {\n  parsed = JSON.parse(raw.replace(/```json\\n?/g,'').replace(/```\\n?/g,'').trim());\n} catch(e) {\n  throw new Error('JSON inválido de GPT-4o (carrusel): ' + raw.substring(0,200));\n}\n\nconst slides = parsed.slides || [];\n\nif (slides.length !== b.num_images) {\n  console.warn(`⚠ GPT-4o devolvió ${slides.length} slides, se esperaban ${b.num_images}`);\n}\n\nreturn [{\n  json: {\n    instagram:       { caption: parsed.instagram_caption || '' },\n    facebook:        { caption: parsed.facebook_caption || '' },\n    topic:           b.topic,\n    type:            b.type,\n    angle:           b.angle || null,\n    platforms:       b.platforms,\n    image_model:     'ideogram',\n    fal_model_id:    null,\n    has_own_image:   false,\n    image_url:       null,\n    has_text_in_image: true,\n    approval_number: b.approval_number,\n    timestamp:       b.timestamp,\n    publish_at:      b.publish_at || 'now',\n    format:          'carousel',\n    num_images:      b.num_images,\n    estructura:      parsed.estructura || 'listicle',\n    image_prompts:   slides.map(s => ({\n      slide_num:     s.slide_num,\n      texto_overlay: s.texto_overlay,\n      prompt:        s.prompt,\n    })),\n  }\n}];"
      },
      "id": "parse-carousel",
      "name": "🔧 Parsear prompts carrusel",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        864,
        528
      ]
    },
    {
      "parameters": {
        "jsCode": "const data = $input.first().json;\nconst prompts = data.image_prompts;\n\nreturn prompts.map(slide => ({\n  json: {\n    slide_num:       slide.slide_num,\n    texto_overlay:   slide.texto_overlay,\n    prompt:          slide.prompt,\n    approval_number: data.approval_number,\n    num_images:      data.num_images,\n    topic:           data.topic,\n    type:            data.type,\n  }\n}));"
      },
      "id": "explode-carousel-slides",
      "name": "🎠 Explode Slides",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1088,
        528
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.ideogram.ai/generate",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Api-Key",
              "value": "={{ $env.IDEOGRAM_API_KEY }}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"image_request\": {\n    \"prompt\": \"{{ $json.prompt.replaceAll('\"', '\\\\\"') }}\",\n    \"aspect_ratio\": \"ASPECT_1_1\",\n    \"model\": \"V_2_TURBO\",\n    \"magic_prompt_option\": \"OFF\",\n    \"style_type\": \"DESIGN\"\n  }\n}",
        "options": {}
      },
      "id": "ideogram-slide",
      "name": "🔤 Ideogram — Slide",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1520,
        528
      ],
      "notes": "Ideogram v2 per carousel slide — called once per slide via SplitInBatches loop"
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "value": "gpt-4o",
          "mode": "list",
          "cachedResultName": "GPT-4O"
        },
        "messages": {
          "values": [
            {
              "content": "Eres el redactor de contenido de Propulsar.ai, agencia de automatizaciones IA para PYMEs.\n\nVoz: profesional pero accesible, directo, español latinoamericano (tuteo).\nSin buzzwords. Prohibido: revolutionario, disruptivo, sinergia, delve, unleash.\n\nDevolvé SOLO JSON válido, sin markdown:\n{\n  \"instagram\": {\n    \"caption\": \"post completo con hashtags al final\",\n    \"image_prompt\": \"prompt en inglés para generación de imagen, dark background purple-magenta gradients, professional social media\"\n  },\n  \"facebook\": {\n    \"caption\": \"post completo (más corto, 3-5 hashtags)\"\n  }\n}",
              "role": "system"
            },
            {
              "content": "=Genera un post {{ $json.body.type }} sobre: \"{{ $json.body.topic }}\"\n\n{% if $json.body.angle %}Ángulo: {{ $json.body.angle }}{% endif %}\n{% if $json.body.has_text_in_image %}IMPORTANTE: El image_prompt debe incluir texto visible específico relevante al tema, ya que se usará Ideogram (excelente para texto en imagen).{% endif %}\n\nPlataformas: {{ $json.body.platforms.join(', ') }}\n\nInstagram: hook <125 chars, 150-300 palabras, párrafos cortos, 8-12 hashtags, máx 3 emojis, CTA.\nFacebook: 100-200 palabras, 3-5 hashtags, pregunta final para comentarios, CTA."
            }
          ]
        },
        "options": {
          "temperature": 0.5
        }
      },
      "id": "openai-text",
      "name": "🤖 GPT-4o — Texto",
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 1.4,
      "position": [
        432,
        368
      ],
      "credentials": {
        "openAiApi": {
          "id": "oSMopb75vo4NhdlT",
          "name": "OpenAI account 29"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const raw = $input.first().json.message.content;\nlet parsed;\ntry {\n  parsed = JSON.parse(raw.replace(/```json\\n?/g,'').replace(/```\\n?/g,'').trim());\n} catch(e) {\n  throw new Error('JSON inválido de OpenAI: ' + raw.substring(0,200));\n}\nconst b = $('🎯 Webhook Trigger').first().json.body;\nreturn [{ json: {\n  instagram:       parsed.instagram || null,\n  facebook:        parsed.facebook  || null,\n  image_prompt:    parsed.instagram?.image_prompt || '',\n  platforms:       b.platforms,\n  topic:           b.topic,\n  type:            b.type,\n  angle:           b.angle || null,\n  image_model:     b.image_model || 'flux',\n  fal_model_id:    b.fal_model_id || 'fal-ai/flux-pro/v1.1',\n  has_own_image:   b.has_own_image || false,\n  image_url:       b.image_url || null,\n  has_text_in_image: b.has_text_in_image || false,\n  approval_number: b.approval_number,\n  timestamp:       b.timestamp,\n  publish_at:      b.publish_at || 'now'\n}}];"
      },
      "id": "parse-content",
      "name": "🔧 Parsear contenido",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        640,
        368
      ]
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{ String($json.has_own_image) }}",
              "value2": "true"
            }
          ]
        }
      },
      "id": "check-own-image",
      "name": "🖼️ ¿Imagen propia?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        864,
        368
      ]
    },
    {
      "parameters": {
        "jsCode": "return [{ json: { ...$input.first().json, final_image_url: $input.first().json.image_url } }];"
      },
      "id": "use-own-image",
      "name": "📎 Imagen propia",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1088,
        208
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://fal.run/fal-ai/flux-pro/v1.1",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "=Key {{ $env.FAL_API_KEY }}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"prompt\": \"{{ $json.image_prompt }} — style: dark background #1a1a2e, purple to magenta gradient accents, professional high-quality social media graphic, ultra detailed, 4K\",\n  \"image_size\": \"square_hd\",\n  \"num_inference_steps\": 28,\n  \"guidance_scale\": 3.5,\n  \"num_images\": 1,\n  \"enable_safety_checker\": true\n}",
        "options": {}
      },
      "id": "flux-generate",
      "name": "⚡ Flux 2 Pro (FAL.AI)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1312,
        304
      ],
      "notes": "FAL model: fal-ai/flux-pro/v1.1\nCosto: ~$0.03/img\nFortaleza: fotorrealismo premium"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.ideogram.ai/generate",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Api-Key",
              "value": "={{ $env.IDEOGRAM_API_KEY }}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"image_request\": {\n    \"prompt\": \"{{ $json.image_prompt.replaceAll('\"', '\\\\\"') }} — professional design, dark background #1a1a2e, purple and magenta gradient elements, bold readable typography, social media post\",\n    \"aspect_ratio\": \"ASPECT_1_1\",\n    \"model\": \"V_2_TURBO\",\n    \"magic_prompt_option\": \"OFF\",\n    \"style_type\": \"DESIGN\"\n  }\n}",
        "options": {}
      },
      "id": "ideogram-generate",
      "name": "🔤 Ideogram v3",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1312,
        448
      ],
      "notes": "Costo: ~$0.06/img\nFortaleza: texto legible en imagen (90-95% precisión)\nRequiere IDEOGRAM_API_KEY"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://fal.run/fal-ai/nano-banana",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "=Key {{ $env.FAL_API_KEY }}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"prompt\": \"{{ $json.image_prompt }} — ultra high quality, dark background #1a1a2e, purple magenta gradient accents, professional social media graphic, 4K resolution, photorealistic\",\n  \"num_images\": 1,\n  \"aspect_ratio\": \"1:1\",\n  \"output_format\": \"png\",\n  \"safety_tolerance\": \"4\"\n}",
        "options": {}
      },
      "id": "nano-banana-generate",
      "name": "🍌 Nano Banana Pro (FAL.AI)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1312,
        592
      ],
      "notes": "FAL model: fal-ai/nano-banana (Gemini 3 Pro Image)\nCosto: ~$0.15/img\nFortaleza: razonamiento visual, 4K, alto impacto\nMisma FAL_API_KEY que Flux"
    },
    {
      "parameters": {
        "jsCode": "// Normalizar la URL de imagen de cualquier proveedor\nconst content = $('🔧 Parsear contenido').first().json;\nconst imageData = $input.first().json;\nconst model = content.image_model;\n\nlet finalUrl = null;\n\nif (model === 'flux' || model === 'nanoBanana') {\n  // FAL.AI devuelve: { images: [{ url }] } o { image: { url } }\n  finalUrl = imageData.images?.[0]?.url\n          || imageData.image?.url\n          || null;\n} else if (model === 'ideogram') {\n  // Ideogram devuelve: { data: [{ url }] }\n  finalUrl = imageData.data?.[0]?.url || null;\n} else if (model === 'custom') {\n  finalUrl = content.image_url;\n}\n\nif (!finalUrl) {\n  console.warn('⚠ No se pudo extraer URL de imagen. Respuesta:', JSON.stringify(imageData).substring(0, 300));\n}\n\nreturn [{ json: { ...content, final_image_url: finalUrl, image_provider_response: imageData } }];"
      },
      "id": "normalize-image",
      "name": "🔗 Normalizar URL imagen",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1520,
        448
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $env.SUPABASE_URL }}/rest/v1/content_sessions",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "={{ $env.SUPABASE_ANON_KEY }}"
            },
            {
              "name": "Authorization",
              "value": "=Bearer {{ $env.SUPABASE_ANON_KEY }}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "Prefer",
              "value": "return=representation"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ session_id: 'propulsar_' + Date.now(), approval_number: $json.approval_number, topic: $json.topic, type: $json.type, angle: $json.angle || null, platforms: $json.platforms || [], image_model: $json.image_model, image_url: $json.image_url || null, final_image_url: $json.final_image_url, instagram_caption: ($json.instagram && $json.instagram.caption) || null, facebook_caption: ($json.facebook && $json.facebook.caption) || null, status: 'pending', publish_at: $json.publish_at || 'now' }) }}",
        "options": {
          "response": {
            "response": {
              "responseFormat": "json"
            }
          }
        }
      },
      "id": "save-session-supabase",
      "name": "💾 Guardar sesión Supabase",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1632,
        600
      ],
      "notes": "Inserts pending approval session into content_sessions (flat schema — instagram_caption/facebook_caption strings, not nested). Built as HTTP Request (not Code) because n8n task runner sandbox blocks require('https'), global fetch, and $helpers.httpRequest. Response = array of the inserted row."
    },
    {
      "parameters": {
        "mode": "manual",
        "duplicateItem": false,
        "assignments": {
          "assignments": [
            {
              "id": "a1",
              "name": "topic",
              "type": "string",
              "value": "={{ $('🔗 Normalizar URL imagen').item.json.topic }}"
            },
            {
              "id": "a2",
              "name": "type",
              "type": "string",
              "value": "={{ $('🔗 Normalizar URL imagen').item.json.type }}"
            },
            {
              "id": "a3",
              "name": "angle",
              "type": "string",
              "value": "={{ $('🔗 Normalizar URL imagen').item.json.angle || '' }}"
            },
            {
              "id": "a4",
              "name": "platforms",
              "type": "array",
              "value": "={{ $('🔗 Normalizar URL imagen').item.json.platforms }}"
            },
            {
              "id": "a5",
              "name": "image_model",
              "type": "string",
              "value": "={{ $('🔗 Normalizar URL imagen').item.json.image_model }}"
            },
            {
              "id": "a6",
              "name": "final_image_url",
              "type": "string",
              "value": "={{ $('🔗 Normalizar URL imagen').item.json.final_image_url }}"
            },
            {
              "id": "a7",
              "name": "approval_number",
              "type": "string",
              "value": "={{ $('🔗 Normalizar URL imagen').item.json.approval_number }}"
            },
            {
              "id": "a8",
              "name": "instagram",
              "type": "object",
              "value": "={{ $('🔗 Normalizar URL imagen').item.json.instagram }}"
            },
            {
              "id": "a9",
              "name": "facebook",
              "type": "object",
              "value": "={{ $('🔗 Normalizar URL imagen').item.json.facebook }}"
            },
            {
              "id": "a10",
              "name": "session_id",
              "type": "string",
              "value": "={{ $json.session_id }}"
            },
            {
              "id": "a11",
              "name": "supabase_row_id",
              "type": "string",
              "value": "={{ $json.id }}"
            }
          ]
        },
        "includeOtherFields": false,
        "options": {}
      },
      "id": "reattach-session-data",
      "name": "🔗 Re-attach session data",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1744,
        600
      ],
      "notes": "Supabase HTTP Request replaced the item with the inserted row (flat schema — no nested instagram/facebook objects). Re-attach the pre-insert data via cross-ref to Normalizar URL imagen so downstream nodes (Preparar mensaje WA, etc.) keep working with the nested object shape. Adds session_id + supabase_row_id from the insert response."
    },
    {
      "parameters": {
        "jsCode": "// Handle single-post and carousel — read from correct upstream node\nlet d;\ntry {\n  d = $('🗂️ Collect Image URLs').first().json;\n} catch(e1) {\n  try {\n    d = $('🔗 Normalizar URL imagen').first().json;\n  } catch(e2) {\n    d = $input.first().json;\n  }\n}\n\nconst isCarousel = d.format === 'carousel';\n\nconst typeEmoji  = { educational:'📚', authority:'🎤', case_study:'🏆' };\nconst typeLabel  = { educational:'Educativo', authority:'Autoridad', case_study:'Caso de éxito' };\nconst modelInfo  = {\n  flux:       '⚡ Flux 2 Pro',\n  ideogram:   '🔤 Ideogram v3',\n  nanoBanana: '🍌 Nano Banana Pro',\n  custom:     '📎 Imagen propia',\n};\n\nconst igPreview = d.instagram?.caption?.substring(0, 280) || 'N/A';\nconst fbPreview = d.facebook?.caption?.substring(0, 180) || 'N/A';\nconst igDots = (d.instagram?.caption?.length || 0) > 280 ? '...' : '';\nconst fbDots = (d.facebook?.caption?.length || 0)  > 180 ? '...' : '';\n\nconst imageStatus = isCarousel\n  ? `🎠 ${d.image_urls?.length || 0} imágenes generadas (carrusel)`\n  : `🖼️ ${d.final_image_url ? '✅ Imagen generada' : '⚠️ Sin imagen'}`;\n\nconst formatLine = isCarousel\n  ? `\\n🎠 *Formato:* Carrusel (${d.num_images} slides)`\n  : '';\n\nconst msg = `🚀 *PROPULSAR CONTENT ENGINE*\n\n${typeEmoji[d.type] || '📝'} *Tipo:* ${typeLabel[d.type] || d.type}\n📌 *Tema:* ${d.topic}\n${d.angle ? `🎯 *Ángulo:* ${d.angle}\\n` : ''}📱 *Redes:* ${(d.platforms || []).join(', ')}\n🖼️ *Imagen:* ${modelInfo[d.image_model] || d.image_model}${formatLine}\n\n━━━━━━━━━━━━━━━━\n📸 *INSTAGRAM:*\n${igPreview}${igDots}\n\n━━━━━━━━━━━━━━━━\n👥 *FACEBOOK:*\n${fbPreview}${fbDots}\n\n━━━━━━━━━━━━━━━━\n${imageStatus}\n\n*¿Publicar?*\n✅ *SI* para publicar\n❌ *NO* para cancelar`;\n\nreturn [{ json: { ...d, whatsapp_message: msg, session_id: `propulsar_${Date.now()}` } }];"
      },
      "id": "prepare-whatsapp",
      "name": "📱 Preparar mensaje WA",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1744,
        448
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.ycloud.com/v2/whatsapp/messages",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "X-API-Key",
              "value": "={{ $env.YCLOUD_API_KEY }}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ \"from\": $env.YCLOUD_WHATSAPP_NUMBER, \"to\": $json.approval_number, \"type\": \"text\", \"text\": { \"body\": $json.whatsapp_message } }) }}",
        "options": {}
      },
      "id": "send-whatsapp",
      "name": "📤 Enviar WhatsApp",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1968,
        448
      ]
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "propulsar-whatsapp-reply",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "webhook-reply",
      "name": "📨 Webhook — Reply WA",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        2192,
        448
      ],
      "webhookId": "10d7c19d-a915-452a-8f16-3b568c14de39",
      "notes": "Configurar esta URL en YCloud → Webhooks → Incoming Messages"
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={ \"status\": \"ok\" }",
        "options": {}
      },
      "id": "respond-ycloud",
      "name": "✅ Responder YCloud",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [
        2400,
        288
      ]
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{ $json.body?.whatsappInboundMessage?.text?.body?.trim().toUpperCase() }}",
              "value2": "SI"
            }
          ]
        }
      },
      "id": "check-approval",
      "name": "✅ ¿Aprobado?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        2400,
        464
      ]
    },
    {
      "parameters": {
        "method": "GET",
        "url": "={{ $env.SUPABASE_URL }}/rest/v1/content_sessions",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "={{ $env.SUPABASE_ANON_KEY }}"
            },
            {
              "name": "Authorization",
              "value": "=Bearer {{ $env.SUPABASE_ANON_KEY }}"
            },
            {
              "name": "Accept",
              "value": "application/vnd.pgrst.object+json"
            }
          ]
        },
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "approval_number",
              "value": "=eq.{{ $json.body.whatsappInboundMessage.from }}"
            },
            {
              "name": "status",
              "value": "eq.pending"
            },
            {
              "name": "order",
              "value": "created_at.desc"
            },
            {
              "name": "limit",
              "value": "1"
            }
          ]
        },
        "options": {
          "response": {
            "response": {
              "responseFormat": "json"
            }
          }
        }
      },
      "id": "retrieve-session",
      "name": "🔍 Recuperar sesión Supabase",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        2624,
        384
      ],
      "notes": "GET pending session from content_sessions, filtered by approval_number = phone + status=pending. Uses PostgREST Accept header 'application/vnd.pgrst.object+json' so response is a SINGLE object (not array), giving downstream nodes the flat session directly. Empty result → 406 → execution fails with clear error (same as the old Code node behavior). Built as HTTP Request because n8n task runner sandbox blocks every HTTP helper inside Code nodes."
    },
    {
      "parameters": {
        "jsCode": "// Normalize both single-post and carousel briefs into the sub-workflow's expected input shape.\n// Single post: $json has final_image_url (string).\n// Carousel: $json has image_urls (array of strings) and num_images.\n//\n// Output shape for Execute Workflow:\n//   { image_urls: [{ index, url }], post_id, approval_number }\n\nconst data = $input.first().json;\nconst format = data.format || 'single';\n\nlet imageUrls = [];\nif (format === 'carousel' && Array.isArray(data.image_urls)) {\n  imageUrls = data.image_urls.map((url, i) => ({ index: i + 1, url }));\n} else if (data.final_image_url) {\n  imageUrls = [{ index: 1, url: data.final_image_url }];\n} else {\n  throw new Error('Prep Re-host Input: no image URL found on approved post (neither final_image_url nor image_urls)');\n}\n\n// post_id: derive from session/timestamp. Prefer an existing session_id if present (set by Recuperar sesion Supabase).\nconst postId = data.session_id || ('propulsar_' + Date.now());\n\nreturn [{\n  json: {\n    // Pass ALL upstream fields through so downstream nodes (Sheets Log, future Meta publish)\n    // still have access to topic, type, angle, instagram/facebook text, etc.\n    ...data,\n    // Plus the sub-workflow input fields:\n    image_urls: imageUrls,\n    post_id: postId,\n    approval_number: data.approval_number\n  }\n}];",
        "mode": "runOnceForAllItems"
      },
      "id": "prep-rehost-input",
      "name": "🔧 Prep Re-host Input",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        3060,
        380
      ],
      "notes": "Normalizes single-post (final_image_url) into the sub-workflow input shape. Phase 7: carousel guard removed — carousel path now handled upstream by 🔀 ¿Formato Carrusel?. Passes all other fields through so downstream nodes retain topic/type/angle/text."
    },
    {
      "parameters": {
        "source": "database",
        "workflowId": {
          "__rl": true,
          "mode": "list",
          "value": "BIaG266Q6AZpv4Sq",
          "cachedResultName": "Re-host Images to Azure Blob"
        },
        "workflowInputs": {
          "mappingMode": "passthrough"
        },
        "options": {
          "waitForSubWorkflow": true
        }
      },
      "id": "execute-rehost-subflow",
      "name": "🔁 Re-host Images",
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.2,
      "position": [
        3280,
        380
      ],
      "notes": "Calls the Re-host Images sub-workflow (n8n workflow ID BIaG266Q6AZpv4Sq). workflowInputs.mappingMode MUST be 'passthrough' because the sub-workflow trigger uses inputSource: passthrough — using 'defineBelow' with an empty value would send empty input and the sub-workflow's Explode node would throw. Output: { blob_urls, post_id }. NOTE: Execute Workflow replaces the item with the sub-workflow output, so downstream nodes no longer see topic/type/angle/etc. — that's why we need the '🔗 Merge Rehost Output' node next. If sub-workflow throws StopAndError, this node fails and the main execution aborts — Google Sheets Log and any Meta publish nodes will NOT run."
    },
    {
      "parameters": {
        "mode": "manual",
        "duplicateItem": false,
        "assignments": {
          "assignments": [
            {
              "id": "merge-blob-urls",
              "name": "blob_urls",
              "type": "array",
              "value": "={{ $json.blob_urls }}"
            },
            {
              "id": "merge-post-id",
              "name": "post_id",
              "type": "string",
              "value": "={{ $json.post_id }}"
            },
            {
              "id": "merge-topic",
              "name": "topic",
              "type": "string",
              "value": "={{ $('🔧 Prep Re-host Input').item.json.topic }}"
            },
            {
              "id": "merge-type",
              "name": "type",
              "type": "string",
              "value": "={{ $('🔧 Prep Re-host Input').item.json.type }}"
            },
            {
              "id": "merge-angle",
              "name": "angle",
              "type": "string",
              "value": "={{ $('🔧 Prep Re-host Input').item.json.angle }}"
            },
            {
              "id": "merge-platforms",
              "name": "platforms",
              "type": "array",
              "value": "={{ $('🔧 Prep Re-host Input').item.json.platforms }}"
            },
            {
              "id": "merge-image-model",
              "name": "image_model",
              "type": "string",
              "value": "={{ $('🔧 Prep Re-host Input').item.json.image_model }}"
            },
            {
              "id": "merge-instagram-caption",
              "name": "instagram_caption",
              "type": "string",
              "value": "={{ $('🔧 Prep Re-host Input').item.json.instagram_caption }}"
            },
            {
              "id": "merge-facebook-caption",
              "name": "facebook_caption",
              "type": "string",
              "value": "={{ $('🔧 Prep Re-host Input').item.json.facebook_caption }}"
            },
            {
              "id": "merge-final-image",
              "name": "final_image_url",
              "type": "string",
              "value": "={{ $('🔧 Prep Re-host Input').item.json.final_image_url }}"
            },
            {
              "id": "merge-format",
              "name": "format",
              "type": "string",
              "value": "={{ $('🔧 Prep Re-host Input').item.json.format }}"
            },
            {
              "id": "merge-approval-number",
              "name": "approval_number",
              "type": "string",
              "value": "={{ $('🔧 Prep Re-host Input').item.json.approval_number }}"
            }
          ]
        },
        "options": {}
      },
      "id": "merge-rehost-output",
      "name": "🔗 Merge Rehost Output",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        3500,
        380
      ],
      "notes": "Re-attaches original session metadata (from 🔧 Prep Re-host Input) to the sub-workflow output (blob_urls, post_id). Without this, Execute Workflow replaces the item with only { blob_urls, post_id }, and Google Sheets Log would write blank columns. Uses a Set node (no jsCode) to avoid any env concern. If the Wizard brief ever adds new session fields, extend this node's assignments array accordingly."
    },
    {
      "parameters": {
        "jsCode": "console.log('Rechazado:', $json.body?.whatsappInboundMessage?.from, new Date().toISOString());\nreturn [{ json: { status:'rejected', ts: new Date().toISOString() } }];"
      },
      "id": "log-rejected",
      "name": "❌ Loguear rechazo",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2624,
        560
      ]
    },
    {
      "parameters": {
        "jsCode": "const carousel = $('🔧 Parsear prompts carrusel').first().json;\nconst loopItems = $input.all();\n\n// IMG-02: Normalize and validate all image URLs\nconst imageUrls = loopItems.map(item => {\n  const url = item.json.data?.[0]?.url || null;\n  if (url && typeof url === 'string' && url.startsWith('https://')) {\n    return url; // Keep full URL with auth params (exp, sig)\n  }\n  return null;\n}).filter(Boolean);\n\nif (imageUrls.length !== carousel.num_images) {\n  throw new Error('Se generaron ' + imageUrls.length + ' imagenes, se esperaban ' + carousel.num_images + '. Faltan slides.');\n}\n\nreturn [{\n  json: {\n    instagram:       carousel.instagram,\n    facebook:        carousel.facebook,\n    topic:           carousel.topic,\n    type:            carousel.type,\n    angle:           carousel.angle || null,\n    platforms:       carousel.platforms,\n    image_model:     'ideogram',\n    approval_number: carousel.approval_number,\n    timestamp:       carousel.timestamp,\n    publish_at:      carousel.publish_at || 'now',\n    format:          'carousel',\n    num_images:      carousel.num_images,\n    image_urls:      imageUrls,\n    final_image_url: imageUrls[0] || null,\n  }\n}];"
      },
      "id": "collect-carousel-urls",
      "name": "🗂️ Collect Image URLs",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1744,
        528
      ]
    },
    {
      "parameters": {
        "jsCode": "const data = $input.first().json;\nconst urls = data.image_urls;\n\nreturn urls.map((url, idx) => ({\n  json: {\n    current_image_url: url,\n    slide_index:       idx + 1,\n    num_images:        data.num_images,\n    approval_number:   data.approval_number,\n    _carousel_data:    data,\n  }\n}));"
      },
      "id": "split-wa-urls",
      "name": "📨 Split URLs WA",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1968,
        528
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.ycloud.com/v2/whatsapp/messages",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "X-API-Key",
              "value": "={{ $env.YCLOUD_API_KEY }}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ \"from\": $env.YCLOUD_WHATSAPP_NUMBER, \"to\": $json.approval_number, \"type\": \"image\", \"image\": { \"link\": $json.current_image_url, \"caption\": \"Slide \" + $json.slide_index + \" de \" + $json.num_images } }) }}",
        "options": {}
      },
      "id": "send-wa-image",
      "name": "📤 Enviar imagen WA",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        2400,
        624
      ],
      "notes": "YCloud sendDirectly — sends one carousel image per loop iteration"
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "mode": "id",
          "value": "={{ $env.GOOGLE_SHEETS_ID }}"
        },
        "sheetName": {
          "__rl": true,
          "mode": "name",
          "value": "Log"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Fecha": "={{ new Date().toISOString() }}",
            "Tema": "={{ $('🔗 Merge Rehost Output').item.json.topic }}",
            "Tipo": "={{ $('🔗 Merge Rehost Output').item.json.type }}",
            "Angulo": "={{ $('🔗 Merge Rehost Output').item.json.angle || '' }}",
            "Plataformas": "={{ Array.isArray($('🔗 Merge Rehost Output').item.json.platforms) ? $('🔗 Merge Rehost Output').item.json.platforms.join(', ') : '' }}",
            "Modelo_Imagen": "={{ $('🔗 Merge Rehost Output').item.json.image_model }}",
            "Imagen_URL": "={{ ($('🔗 Merge Rehost Output').item.json.blob_urls && $('🔗 Merge Rehost Output').item.json.blob_urls[0] && $('🔗 Merge Rehost Output').item.json.blob_urls[0].url) || $('🔗 Merge Rehost Output').item.json.final_image_url || '' }}",
            "Estado": "Publicado",
            "IG_URL": "={{ $('🔗 IG: Get Permalink').item.json.permalink }}",
            "FB_URL": "={{ 'https://www.facebook.com/' + $('🌐 FB: Publish Photo').item.json.post_id }}",
            "Publicado_En": "={{ new Date().toISOString() }}",
            "Publish_Status": "success"
          },
          "schema": [
            {
              "id": "Fecha",
              "displayName": "Fecha",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Tema",
              "displayName": "Tema",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Tipo",
              "displayName": "Tipo",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Angulo",
              "displayName": "Angulo",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Plataformas",
              "displayName": "Plataformas",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Modelo_Imagen",
              "displayName": "Modelo_Imagen",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Imagen_URL",
              "displayName": "Imagen_URL",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Estado",
              "displayName": "Estado",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "IG_URL",
              "displayName": "IG_URL",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "FB_URL",
              "displayName": "FB_URL",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Publicado_En",
              "displayName": "Publicado_En",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Publish_Status",
              "displayName": "Publish_Status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ]
        },
        "operation": "append",
        "resource": "sheet"
      },
      "id": "log-sheets",
      "name": "📊 Google Sheets Log",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.4,
      "position": [
        5290,
        480
      ],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "XjKteoOTobs1qR55",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{ $json.body.format }}",
              "value2": "carousel"
            }
          ]
        }
      },
      "id": "carousel-check",
      "name": "🔀 ¿Carrusel?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        432,
        528
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.ycloud.com/v2/whatsapp/messages",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "X-API-Key",
              "value": "={{ $env.YCLOUD_API_KEY }}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ \"from\": $env.YCLOUD_WHATSAPP_NUMBER, \"to\": $json.approval_number, \"type\": \"image\", \"image\": { \"link\": $json.final_image_url, \"caption\": \"Preview — \" + $json.topic } }) }}",
        "options": {}
      },
      "id": "send-single-image",
      "name": "📤 Enviar preview imagen",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1200,
        464
      ],
      "notes": "Single-post: sends image preview before text message"
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{ $json.image_model }}",
              "value2": "ideogram"
            }
          ]
        }
      },
      "id": "router-if-ideogram",
      "name": "🎨 ¿Ideogram?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        1088,
        448
      ]
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{ $json.image_model }}",
              "value2": "nanoBanana"
            }
          ]
        }
      },
      "id": "router-if-nano",
      "name": "🎨 ¿NanoBanana?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        1280,
        544
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://graph.facebook.com/v22.0/{{ $env.INSTAGRAM_ACCOUNT_ID }}/media",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ image_url: $json.blob_urls[0].url, caption: $json.instagram_caption, access_token: $env.META_PAGE_TOKEN }) }}",
        "options": {}
      },
      "id": "ig-create-container",
      "name": "📤 IG: Create Container",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        3940,
        480
      ],
      "retryOnFail": true,
      "maxTries": 3,
      "waitBetweenTries": 2000,
      "onError": "stopWorkflow",
      "notes": "Creates IG media container. Idempotent — retry is safe. Reads blob_urls[0].url (permanent Azure URL from Phase 4) and instagram.caption (from GPT-4o). Output: { id: <container_id> }. Common errors: 9004/2207052 (image_url unreachable), 190 (token expired)."
    },
    {
      "parameters": {
        "amount": 30,
        "unit": "seconds"
      },
      "id": "wait-container-ready",
      "name": "⏳ Wait 30s (container ready)",
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1,
      "position": [
        4160,
        480
      ],
      "notes": "Fixed 30s wait per IGPUB-03. Container typically reaches FINISHED in 2-5s for single photos, but 30s gives a safe margin. Phase 5 Success Criterion 5 requires this gap be visible in execution trace. Polling (HARD-03) deferred to v2."
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://graph.facebook.com/v22.0/{{ $env.INSTAGRAM_ACCOUNT_ID }}/media_publish",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ creation_id: $json.id, access_token: $env.META_PAGE_TOKEN }) }}",
        "options": {}
      },
      "id": "ig-media-publish",
      "name": "🚀 IG: media_publish",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        4380,
        480
      ],
      "retryOnFail": false,
      "maxTries": 1,
      "waitBetweenTries": 0,
      "onError": "stopWorkflow",
      "notes": "CRITICAL: Retry DISABLED (IGPUB-04, ERR-02). media_publish is NOT idempotent — a retry after a timeout where Meta already processed the request creates a duplicate live IG post. If this node fails, execution aborts — Felix manually verifies IG profile and n8n logs. Error 9007/2207027 means container not ready (increase Wait)."
    },
    {
      "parameters": {
        "method": "GET",
        "url": "=https://graph.facebook.com/v22.0/{{ $json.id }}",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "fields",
              "value": "permalink"
            },
            {
              "name": "access_token",
              "value": "={{ $env.META_PAGE_TOKEN }}"
            }
          ]
        },
        "options": {}
      },
      "id": "ig-get-permalink",
      "name": "🔗 IG: Get Permalink",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        4600,
        480
      ],
      "retryOnFail": true,
      "maxTries": 3,
      "waitBetweenTries": 1000,
      "onError": "stopWorkflow",
      "notes": "GETs the published IG post's permalink (IGPUB-05). Input: { id: <media_id> } from media_publish. Output: { id, permalink }. Idempotent GET — retry is safe."
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.ycloud.com/v2/whatsapp/messages",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "X-API-Key",
              "value": "={{ $env.YCLOUD_API_KEY }}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ from: $env.YCLOUD_WHATSAPP_NUMBER, to: $('🔗 Merge Rehost Output').item.json.approval_number, type: 'text', text: { body: '✓ Publicado en Instagram y Facebook\\n\\nTema: ' + $('🔗 Merge Rehost Output').item.json.topic + '\\nInstagram: ' + $('🔗 IG: Get Permalink').item.json.permalink + '\\nFacebook: https://www.facebook.com/' + $('🌐 FB: Publish Photo').item.json.post_id + '\\nHora: ' + new Date().toISOString() } }) }}",
        "options": {}
      },
      "id": "notify-wa-success",
      "name": "✅ Notify WhatsApp Success",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        5070,
        480
      ],
      "retryOnFail": true,
      "maxTries": 2,
      "waitBetweenTries": 2000,
      "onError": "stopWorkflow",
      "notes": "Sends WhatsApp text with 'Publicado' + IG permalink + timestamp (NOTIF-01). Cross-refs Merge Rehost Output for topic + approval_number because $json at this point is { id, permalink } from the permalink GET. Uses JSON.stringify({...}) wrapper per project pattern from commit effab36 to avoid quote-escaping issues."
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://graph.facebook.com/v22.0/{{ $env.FACEBOOK_PAGE_ID }}/photos",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ url: $('🔗 Merge Rehost Output').item.json.blob_urls[0].url, message: $('🔗 Merge Rehost Output').item.json.facebook_caption || $('🔗 Merge Rehost Output').item.json.instagram_caption || '', access_token: $env.META_PAGE_TOKEN }) }}",
        "options": {}
      },
      "id": "fb-publish-photo",
      "name": "🌐 FB: Publish Photo",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "retryOnFail": false,
      "maxTries": 1,
      "waitBetweenTries": 0,
      "onError": "stopWorkflow",
      "position": [
        4820,
        480
      ],
      "notes": "CRITICAL: Retry DISABLED (FBPUB-01, ERR-02 equivalent). POST /{PAGE_ID}/photos is NOT idempotent — retry after timeout where Meta already processed creates a duplicate live FB post. Input: blob_urls[0].url from Merge Rehost Output. Output: { id: <photo_id>, post_id: '<page_id>_<photo_id>' }. Post_id used to construct FB_URL as 'https://www.facebook.com/' + post_id."
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{ $json.format }}",
              "value2": "carousel"
            }
          ]
        }
      },
      "id": "format-carousel-branch",
      "name": "🔀 ¿Formato Carrusel?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        3720,
        380
      ],
      "notes": "Phase 7: Routes carousel briefs (format=carousel) to the carousel publish chain (TRUE output 0 — connected by Plan 02). Single-post briefs (format!=carousel) continue to the existing IG publish chain (FALSE output 1). Uses IF typeVersion 1 — v2/Switch v3 broken in n8n 2.14.2."
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $env.SUPABASE_URL }}/rest/v1/content_sessions",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "={{ $env.SUPABASE_ANON_KEY }}"
            },
            {
              "name": "Authorization",
              "value": "=Bearer {{ $env.SUPABASE_ANON_KEY }}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "Prefer",
              "value": "return=representation"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ session_id: 'propulsar_' + Date.now(), approval_number: $json.approval_number, topic: $json.topic, type: $json.type, angle: $json.angle || null, platforms: $json.platforms || [], image_model: $json.image_model || 'ideogram', format: 'carousel', image_urls: $json.image_urls, instagram_caption: $json.instagram_caption || ($json.instagram && $json.instagram.caption) || null, facebook_caption: $json.facebook_caption || ($json.facebook && $json.facebook.caption) || null, status: 'pending', publish_at: $json.publish_at || 'now' }) }}",
        "options": {
          "response": {
            "response": {
              "responseFormat": "json"
            }
          }
        }
      },
      "id": "save-session-carousel",
      "name": "💾 Guardar sesión Supabase (Carousel)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "retryOnFail": true,
      "maxTries": 3,
      "waitBetweenTries": 1000,
      "position": [
        1968,
        700
      ],
      "notes": "Inserts a carousel session into content_sessions BEFORE the WA preview is sent. Mirrors 💾 Guardar sesión Supabase (single-post). Uses format='carousel' and image_urls (JSONB array). retryOnFail=true — Supabase INSERT is idempotent by session_id (timestamp-based), safe to retry. Response = array of the inserted row."
    },
    {
      "parameters": {
        "mode": "manual",
        "duplicateItem": false,
        "assignments": {
          "assignments": [
            {
              "id": "rc-a1",
              "name": "topic",
              "type": "string",
              "value": "={{ $('🗂️ Collect Image URLs').first().json.topic }}"
            },
            {
              "id": "rc-a2",
              "name": "type",
              "type": "string",
              "value": "={{ $('🗂️ Collect Image URLs').first().json.type }}"
            },
            {
              "id": "rc-a3",
              "name": "angle",
              "type": "string",
              "value": "={{ $('🗂️ Collect Image URLs').first().json.angle }}"
            },
            {
              "id": "rc-a4",
              "name": "platforms",
              "type": "array",
              "value": "={{ $('🗂️ Collect Image URLs').first().json.platforms }}"
            },
            {
              "id": "rc-a5",
              "name": "image_model",
              "type": "string",
              "value": "={{ $('🗂️ Collect Image URLs').first().json.image_model }}"
            },
            {
              "id": "rc-a6",
              "name": "format",
              "type": "string",
              "value": "={{ $('🗂️ Collect Image URLs').first().json.format }}"
            },
            {
              "id": "rc-a7",
              "name": "num_images",
              "type": "number",
              "value": "={{ $('🗂️ Collect Image URLs').first().json.num_images }}"
            },
            {
              "id": "rc-a8",
              "name": "image_urls",
              "type": "array",
              "value": "={{ $('🗂️ Collect Image URLs').first().json.image_urls }}"
            },
            {
              "id": "rc-a9",
              "name": "instagram_caption",
              "type": "string",
              "value": "={{ $('🗂️ Collect Image URLs').first().json.instagram_caption || ($('🗂️ Collect Image URLs').first().json.instagram && $('🗂️ Collect Image URLs').first().json.instagram.caption) || '' }}"
            },
            {
              "id": "rc-a10",
              "name": "facebook_caption",
              "type": "string",
              "value": "={{ $('🗂️ Collect Image URLs').first().json.facebook_caption || ($('🗂️ Collect Image URLs').first().json.facebook && $('🗂️ Collect Image URLs').first().json.facebook.caption) || '' }}"
            },
            {
              "id": "rc-a11",
              "name": "approval_number",
              "type": "string",
              "value": "={{ $('🗂️ Collect Image URLs').first().json.approval_number }}"
            },
            {
              "id": "rc-a12",
              "name": "session_id",
              "type": "string",
              "value": "={{ $('💾 Guardar sesión Supabase (Carousel)').first().json.session_id }}"
            }
          ]
        },
        "includeOtherFields": false,
        "options": {}
      },
      "id": "reattach-carousel-data",
      "name": "🔗 Re-attach carousel data",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        2192,
        700
      ],
      "notes": "Supabase HTTP Request replaced the item with the inserted row. Re-attaches the pre-insert carousel data via cross-ref to Collect Image URLs, plus session_id from the Supabase insert response. Mirrors 🔗 Re-attach session data on the single-post path. Downstream WA nodes (Split URLs WA, Preparar mensaje WA) need the original carousel data shape."
    },
    {
      "parameters": {
        "jsCode": "const data = $('🔗 Merge Rehost Output').first().json;\nconst blobUrls = data.blob_urls || [];\nif (blobUrls.length === 0) {\n  throw new Error('IG Carousel Explode: no blob_urls found in Merge Rehost Output');\n}\nif (blobUrls.length > 10) {\n  throw new Error('IG Carousel Explode: carousel exceeds 10-slide Meta limit (' + blobUrls.length + ' slides)');\n}\nreturn blobUrls.map((entry, i) => ({\n  json: {\n    slide_index: entry.index || (i + 1),\n    blob_url: entry.url,\n    num_images: blobUrls.length,\n  }\n}));",
        "mode": "runOnceForAllItems"
      },
      "id": "ig-carousel-explode",
      "name": "🎠 IG: Explode Carousel Slides",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        3940,
        200
      ],
      "notes": "Explodes blob_urls array from Merge Rehost Output into one item per slide. Validates: not empty, not > 10 slides (Meta limit). Connected from TRUE output of ¿Formato Carrusel?."
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://graph.facebook.com/v22.0/{{ $env.INSTAGRAM_ACCOUNT_ID }}/media",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ image_url: $json.blob_url, is_carousel_item: true, access_token: $env.META_PAGE_TOKEN }) }}",
        "options": {}
      },
      "id": "ig-create-child-container",
      "name": "🖼️ IG: Create Child Container",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        4160,
        200
      ],
      "retryOnFail": true,
      "maxTries": 3,
      "waitBetweenTries": 2000,
      "onError": "stopWorkflow",
      "notes": "Creates one IG child container per carousel slide. is_carousel_item=true required by Meta. Idempotent — retry is safe. Runs once per slide (fan-out from Explode). Output: { id: <child_container_id> }."
    },
    {
      "parameters": {
        "jsCode": "const items = $input.all();\nconst session = $('🔗 Merge Rehost Output').first().json;\nconst childIds = items.map(it => it.json.id).filter(Boolean);\nif (childIds.length !== session.blob_urls.length) {\n  throw new Error('IG Carousel: expected ' + session.blob_urls.length + ' child containers, got ' + childIds.length);\n}\nreturn [{\n  json: {\n    topic: session.topic,\n    type: session.type,\n    angle: session.angle || null,\n    platforms: session.platforms,\n    image_model: session.image_model,\n    instagram_caption: session.instagram_caption,\n    facebook_caption: session.facebook_caption,\n    blob_urls: session.blob_urls,\n    approval_number: session.approval_number,\n    format: session.format,\n    num_images: session.blob_urls.length,\n    child_ids: childIds,\n    children_csv: childIds.join(','),\n  }\n}];",
        "mode": "runOnceForAllItems"
      },
      "id": "ig-collect-child-ids",
      "name": "🗂️ IG: Collect Child IDs",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        4380,
        200
      ],
      "notes": "Aggregates all child container IDs after fan-out. Validates count matches expected. Builds children_csv for parent container. Cross-refs Merge Rehost Output for session metadata. Output: single item with full session + child_ids + children_csv."
    },
    {
      "parameters": {
        "amount": 45,
        "unit": "seconds"
      },
      "id": "ig-wait-carousel",
      "name": "⏳ IG: Wait 30s Carousel",
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1,
      "position": [
        4600,
        200
      ],
      "notes": "30s wait between child container creation and parent carousel container creation. Meta requires all child containers to reach FINISHED state before parent can be created. Same pattern as Wait 30s (container ready) on single-post path."
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://graph.facebook.com/v22.0/{{ $env.INSTAGRAM_ACCOUNT_ID }}/media",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ media_type: 'CAROUSEL', children: $json.children_csv, caption: $json.instagram_caption, access_token: $env.META_PAGE_TOKEN }) }}",
        "options": {}
      },
      "id": "ig-create-parent-container",
      "name": "🎠 IG: Create Parent Container",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        4820,
        200
      ],
      "retryOnFail": true,
      "maxTries": 3,
      "waitBetweenTries": 2000,
      "onError": "stopWorkflow",
      "notes": "Creates the IG carousel parent container using all child IDs (comma-separated). media_type=CAROUSEL required. Idempotent — retry is safe. Output: { id: <parent_container_id> }."
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://graph.facebook.com/v22.0/{{ $env.INSTAGRAM_ACCOUNT_ID }}/media_publish",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ creation_id: $json.id, access_token: $env.META_PAGE_TOKEN }) }}",
        "options": {}
      },
      "id": "ig-carousel-media-publish",
      "name": "🚀 IG: Carousel media_publish",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        5040,
        200
      ],
      "retryOnFail": false,
      "maxTries": 1,
      "waitBetweenTries": 0,
      "onError": "stopWorkflow",
      "notes": "CRITICAL: Retry DISABLED. media_publish is NOT idempotent — retry after timeout where Meta already processed creates a duplicate live carousel post. creation_id = parent container id from previous node. Output: { id: <published_media_id> }."
    },
    {
      "parameters": {
        "method": "GET",
        "url": "=https://graph.facebook.com/v22.0/{{ $json.id }}",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "fields",
              "value": "permalink"
            },
            {
              "name": "access_token",
              "value": "={{ $env.META_PAGE_TOKEN }}"
            }
          ]
        },
        "options": {}
      },
      "id": "ig-get-carousel-permalink",
      "name": "🔗 IG: Get Carousel Permalink",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        5260,
        200
      ],
      "retryOnFail": true,
      "maxTries": 3,
      "waitBetweenTries": 1000,
      "onError": "stopWorkflow",
      "notes": "GETs the published IG carousel post permalink. Idempotent GET — retry is safe. Output: { id, permalink }. Downstream FB chain uses cross-refs to Collect Child IDs for session data."
    },
    {
      "parameters": {
        "jsCode": "const session = $('🔗 Merge Rehost Output').first().json;\nconst blobUrls = session.blob_urls || [];\nreturn blobUrls.map((entry, i) => ({\n  json: {\n    slide_index: entry.index || (i + 1),\n    blob_url: entry.url,\n  }\n}));",
        "mode": "runOnceForAllItems"
      },
      "id": "fb-carousel-explode",
      "name": "🖼️ FB: Explode Carousel Slides",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        5480,
        200
      ],
      "notes": "Explodes blob_urls from Merge Rehost Output into per-slide items for FB unpublished photo upload. Mirrors IG: Explode Carousel Slides but simpler (no count validation — already done in IG chain)."
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://graph.facebook.com/v22.0/{{ $env.FACEBOOK_PAGE_ID }}/photos",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ url: $json.blob_url, published: false, access_token: $env.META_PAGE_TOKEN }) }}",
        "options": {}
      },
      "id": "fb-upload-photo-unpublished",
      "name": "📤 FB: Upload Photo Unpublished",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        5700,
        200
      ],
      "retryOnFail": false,
      "maxTries": 1,
      "waitBetweenTries": 0,
      "onError": "stopWorkflow",
      "notes": "CRITICAL: Retry DISABLED. POST /{PAGE_ID}/photos with published=false creates an unpublished photo that will be included in the multi-photo feed post. Not safe to retry after timeout — could create orphaned unpublished photos. Output: { id: <photo_id> }."
    },
    {
      "parameters": {
        "jsCode": "const items = $input.all();\nconst session = $('🔗 Merge Rehost Output').first().json;\nconst photoIds = items.map(it => it.json.id).filter(Boolean);\nif (photoIds.length !== session.blob_urls.length) {\n  throw new Error('FB Carousel: expected ' + session.blob_urls.length + ' unpublished photos, got ' + photoIds.length);\n}\nreturn [{\n  json: {\n    photo_ids: photoIds,\n    facebook_caption: session.facebook_caption || session.instagram_caption || '',\n    instagram_permalink: $('🔗 IG: Get Carousel Permalink').first().json.permalink,\n    approval_number: session.approval_number,\n    topic: session.topic,\n    type: session.type,\n    angle: session.angle || null,\n    image_model: session.image_model,\n    num_images: session.blob_urls.length,\n    format: 'carousel',\n    blob_urls: session.blob_urls,\n    instagram_caption: session.instagram_caption,\n  }\n}];",
        "mode": "runOnceForAllItems"
      },
      "id": "fb-collect-photo-ids",
      "name": "🗂️ FB: Collect Photo IDs",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        5920,
        200
      ],
      "notes": "Aggregates all FB unpublished photo IDs after fan-out. Validates count. Cross-refs Merge Rehost Output for session data and IG: Get Carousel Permalink for instagram_permalink. Output: single item with full context needed for Publish Feed + WA notification + Sheets log."
    },
    {
      "parameters": {
        "jsCode": "const data = $input.first().json;\nconst photoIds = data.photo_ids;\nif (!Array.isArray(photoIds) || photoIds.length === 0) {\n  throw new Error('FB Build attached_media: no photo_ids found');\n}\nconst attachedMedia = photoIds.map(id => ({ media_fbid: id }));\nreturn [{\n  json: {\n    ...data,\n    attached_media: attachedMedia,\n  }\n}];",
        "mode": "runOnceForAllItems"
      },
      "id": "fb-build-attached-media",
      "name": "🔧 FB: Build attached_media",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        6140,
        200
      ],
      "notes": "Builds the attached_media array required by /feed multi-photo POST. Format: [{ media_fbid: photo_id }, ...]. Passes through all session data for downstream nodes."
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://graph.facebook.com/v22.0/{{ $env.FACEBOOK_PAGE_ID }}/feed",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ message: $json.facebook_caption, attached_media: $json.attached_media, access_token: $env.META_PAGE_TOKEN }) }}",
        "options": {}
      },
      "id": "fb-publish-carousel-feed",
      "name": "🌐 FB: Publish Carousel Feed",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        6360,
        200
      ],
      "retryOnFail": false,
      "maxTries": 1,
      "waitBetweenTries": 0,
      "onError": "stopWorkflow",
      "notes": "CRITICAL: Retry DISABLED. POST /{PAGE_ID}/feed with attached_media is NOT idempotent — retry creates a duplicate live FB carousel post. Output: { id: <post_id> }. If this fails with 'Invalid parameter: attached_media', fallback is to switch specifyBody to 'string' and stringify the full body in Build attached_media."
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.ycloud.com/v2/whatsapp/messages",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "X-API-Key",
              "value": "={{ $env.YCLOUD_API_KEY }}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ from: $env.YCLOUD_WHATSAPP_NUMBER, to: $('🗂️ FB: Collect Photo IDs').first().json.approval_number, type: 'text', text: { body: '✅ Carrusel publicado (' + $('🗂️ FB: Collect Photo IDs').first().json.num_images + ' slides)\\n\\n📸 Instagram: ' + $('🗂️ FB: Collect Photo IDs').first().json.instagram_permalink + '\\n📘 Facebook: https://www.facebook.com/' + $json.id + '\\n\\n📝 Tema: ' + $('🗂️ FB: Collect Photo IDs').first().json.topic } }) }}",
        "options": {}
      },
      "id": "notify-wa-carousel",
      "name": "✅ Notify WhatsApp Carousel",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        6580,
        200
      ],
      "retryOnFail": true,
      "maxTries": 2,
      "waitBetweenTries": 2000,
      "onError": "stopWorkflow",
      "notes": "Sends carousel publish confirmation via WhatsApp. Cross-refs FB: Collect Photo IDs for session data (approval_number, num_images, instagram_permalink, topic). $json.id is the FB feed post_id from Publish Carousel Feed response. Retry is safe (WA message dedup by YCloud)."
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "mode": "id",
          "value": "={{ $env.GOOGLE_SHEETS_ID }}"
        },
        "sheetName": {
          "__rl": true,
          "mode": "name",
          "value": "Log"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Fecha": "={{ new Date().toISOString() }}",
            "Tema": "={{ $('🗂️ FB: Collect Photo IDs').first().json.topic }}",
            "Tipo": "={{ $('🗂️ FB: Collect Photo IDs').first().json.type }}",
            "Angulo": "={{ $('🗂️ FB: Collect Photo IDs').first().json.angle || '' }}",
            "Plataformas": "={{ Array.isArray($('🗂️ FB: Collect Photo IDs').first().json.blob_urls) ? 'instagram, facebook' : '' }}",
            "Modelo_Imagen": "={{ $('🗂️ FB: Collect Photo IDs').first().json.image_model }}",
            "Imagen_URL": "={{ ($('🗂️ FB: Collect Photo IDs').first().json.blob_urls && $('🗂️ FB: Collect Photo IDs').first().json.blob_urls[0] && $('🗂️ FB: Collect Photo IDs').first().json.blob_urls[0].url) || '' }}",
            "Estado": "Publicado",
            "IG_URL": "={{ $('🗂️ FB: Collect Photo IDs').first().json.instagram_permalink }}",
            "FB_URL": "={{ 'https://www.facebook.com/' + $('🌐 FB: Publish Carousel Feed').first().json.id }}",
            "Publicado_En": "={{ new Date().toISOString() }}",
            "Publish_Status": "success"
          },
          "schema": [
            {
              "id": "Fecha",
              "displayName": "Fecha",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Tema",
              "displayName": "Tema",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Tipo",
              "displayName": "Tipo",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Angulo",
              "displayName": "Angulo",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Plataformas",
              "displayName": "Plataformas",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Modelo_Imagen",
              "displayName": "Modelo_Imagen",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Imagen_URL",
              "displayName": "Imagen_URL",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Estado",
              "displayName": "Estado",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "IG_URL",
              "displayName": "IG_URL",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "FB_URL",
              "displayName": "FB_URL",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Publicado_En",
              "displayName": "Publicado_En",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Publish_Status",
              "displayName": "Publish_Status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ]
        },
        "operation": "append",
        "resource": "sheet"
      },
      "id": "log-sheets-carousel",
      "name": "📊 Google Sheets Log (Carousel)",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.4,
      "position": [
        6800,
        200
      ],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "XjKteoOTobs1qR55",
          "name": "Google Sheets account"
        }
      },
      "notes": "Appends a carousel publish log row to the same Log sheet as the single-post path. Uses same credentials (XjKteoOTobs1qR55) and schema. Cross-refs FB: Collect Photo IDs for session data, FB: Publish Carousel Feed for post_id. Same column schema as single-post log."
    },
    {
      "parameters": {
        "jsCode": "const data = $input.first().json;\nconst pub = data.publish_at;\n\nlet scheduled = false;\nlet wait_seconds = 0;\n\nif (pub && pub !== 'now') {\n  const diffMs = new Date(pub).getTime() - Date.now();\n  if (diffMs > 65000 && diffMs <= 86400000) {\n    scheduled = true;\n    wait_seconds = Math.round(diffMs / 1000);\n  }\n  // Past time or > 24h: route to immediate (scheduled stays false)\n}\n\nreturn [{ json: { ...data, scheduled: String(scheduled), wait_seconds } }];",
        "mode": "runOnceForAllItems"
      },
      "id": "compute-wait-seconds",
      "name": "🕐 Compute wait_seconds",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2780,
        380
      ],
      "notes": "SCHED-03: Computes wait_seconds from publish_at. Routes to immediate if publish_at is now, past, <65s (n8n DB threshold), or >24h. 65s floor: n8n does not persist Wait < 65s to DB — container restart would lose execution."
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{ $json.scheduled }}",
              "value2": "true"
            }
          ]
        }
      },
      "id": "check-scheduled",
      "name": "⏰ ¿Programado?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        2840,
        380
      ],
      "notes": "SCHED-01: Routes scheduled=true to Wait path (output 0/TRUE), scheduled=false to immediate path (output 1/FALSE). Uses IF typeVersion 1 — v2/Switch v3 broken in n8n 2.14.2."
    },
    {
      "parameters": {
        "amount": "={{ $json.wait_seconds }}",
        "unit": "seconds"
      },
      "id": "wait-scheduled-publish",
      "name": "⏳ Wait — Scheduled Publish",
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1,
      "position": [
        2900,
        280
      ],
      "notes": "SCHED-02: Pauses execution for wait_seconds (computed by 🕐 Compute wait_seconds). Uses 'After Time Interval' mode (amount + unit), NOT 'At Specified Time' (unreliable per n8n #14723). wait_seconds is a Number, not string."
    }
  ],
  "connections": {
    "🎯 Webhook Trigger": {
      "main": [
        [
          {
            "node": "✅ Responder al Wizard",
            "type": "main",
            "index": 0
          },
          {
            "node": "🔀 ¿Carrusel?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "🔀 ¿Carrusel?": {
      "main": [
        [
          {
            "node": "🎠 GPT-4o — Prompts Carrusel",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "🤖 GPT-4o — Texto",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "🎠 GPT-4o — Prompts Carrusel": {
      "main": [
        [
          {
            "node": "🔧 Parsear prompts carrusel",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "🔧 Parsear prompts carrusel": {
      "main": [
        [
          {
            "node": "🎠 Explode Slides",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "🎠 Explode Slides": {
      "main": [
        [
          {
            "node": "🔤 Ideogram — Slide",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "🔤 Ideogram — Slide": {
      "main": [
        [
          {
            "node": "🗂️ Collect Image URLs",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "🗂️ Collect Image URLs": {
      "main": [
        [
          {
            "node": "💾 Guardar sesión Supabase (Carousel)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "💾 Guardar sesión Supabase (Carousel)": {
      "main": [
        [
          {
            "node": "🔗 Re-attach carousel data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "🔗 Re-attach carousel data": {
      "main": [
        [
          {
            "node": "📨 Split URLs WA",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "📨 Split URLs WA": {
      "main": [
        [
          {
            "node": "📤 Enviar imagen WA",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "📤 Enviar imagen WA": {
      "main": [
        [
          {
            "node": "📱 Preparar mensaje WA",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "🤖 GPT-4o — Texto": {
      "main": [
        [
          {
            "node": "🔧 Parsear contenido",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "🔧 Parsear contenido": {
      "main": [
        [
          {
            "node": "🖼️ ¿Imagen propia?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "🖼️ ¿Imagen propia?": {
      "main": [
        [
          {
            "node": "📎 Imagen propia",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "🎨 ¿Ideogram?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "📎 Imagen propia": {
      "main": [
        [
          {
            "node": "📱 Preparar mensaje WA",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "⚡ Flux 2 Pro (FAL.AI)": {
      "main": [
        [
          {
            "node": "🔗 Normalizar URL imagen",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "🔤 Ideogram v3": {
      "main": [
        [
          {
            "node": "🔗 Normalizar URL imagen",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "🍌 Nano Banana Pro (FAL.AI)": {
      "main": [
        [
          {
            "node": "🔗 Normalizar URL imagen",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "🔗 Normalizar URL imagen": {
      "main": [
        [
          {
            "node": "💾 Guardar sesión Supabase",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "💾 Guardar sesión Supabase": {
      "main": [
        [
          {
            "node": "🔗 Re-attach session data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "🔗 Re-attach session data": {
      "main": [
        [
          {
            "node": "📤 Enviar preview imagen",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "📱 Preparar mensaje WA": {
      "main": [
        [
          {
            "node": "📤 Enviar WhatsApp",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "📨 Webhook — Reply WA": {
      "main": [
        [
          {
            "node": "✅ Responder YCloud",
            "type": "main",
            "index": 0
          },
          {
            "node": "✅ ¿Aprobado?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "✅ ¿Aprobado?": {
      "main": [
        [
          {
            "node": "🔍 Recuperar sesión Supabase",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "❌ Loguear rechazo",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "🔍 Recuperar sesión Supabase": {
      "main": [
        [
          {
            "node": "🕐 Compute wait_seconds",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "📤 Enviar preview imagen": {
      "main": [
        [
          {
            "node": "📱 Preparar mensaje WA",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "🎨 ¿Ideogram?": {
      "main": [
        [
          {
            "node": "🔤 Ideogram v3",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "🎨 ¿NanoBanana?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "🎨 ¿NanoBanana?": {
      "main": [
        [
          {
            "node": "🍌 Nano Banana Pro (FAL.AI)",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "⚡ Flux 2 Pro (FAL.AI)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "🔧 Prep Re-host Input": {
      "main": [
        [
          {
            "node": "🔁 Re-host Images",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "🔁 Re-host Images": {
      "main": [
        [
          {
            "node": "🔗 Merge Rehost Output",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "🔗 Merge Rehost Output": {
      "main": [
        [
          {
            "node": "🔀 ¿Formato Carrusel?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "🔀 ¿Formato Carrusel?": {
      "main": [
        [
          {
            "node": "🎠 IG: Explode Carousel Slides",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "📤 IG: Create Container",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "🎠 IG: Explode Carousel Slides": {
      "main": [
        [
          {
            "node": "🖼️ IG: Create Child Container",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "🖼️ IG: Create Child Container": {
      "main": [
        [
          {
            "node": "🗂️ IG: Collect Child IDs",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "🗂️ IG: Collect Child IDs": {
      "main": [
        [
          {
            "node": "⏳ IG: Wait 30s Carousel",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "⏳ IG: Wait 30s Carousel": {
      "main": [
        [
          {
            "node": "🎠 IG: Create Parent Container",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "🎠 IG: Create Parent Container": {
      "main": [
        [
          {
            "node": "🚀 IG: Carousel media_publish",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "🚀 IG: Carousel media_publish": {
      "main": [
        [
          {
            "node": "🔗 IG: Get Carousel Permalink",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "🔗 IG: Get Carousel Permalink": {
      "main": [
        [
          {
            "node": "🖼️ FB: Explode Carousel Slides",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "🖼️ FB: Explode Carousel Slides": {
      "main": [
        [
          {
            "node": "📤 FB: Upload Photo Unpublished",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "📤 FB: Upload Photo Unpublished": {
      "main": [
        [
          {
            "node": "🗂️ FB: Collect Photo IDs",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "🗂️ FB: Collect Photo IDs": {
      "main": [
        [
          {
            "node": "🔧 FB: Build attached_media",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "🔧 FB: Build attached_media": {
      "main": [
        [
          {
            "node": "🌐 FB: Publish Carousel Feed",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "🌐 FB: Publish Carousel Feed": {
      "main": [
        [
          {
            "node": "✅ Notify WhatsApp Carousel",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "✅ Notify WhatsApp Carousel": {
      "main": [
        [
          {
            "node": "📊 Google Sheets Log (Carousel)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "📤 IG: Create Container": {
      "main": [
        [
          {
            "node": "⏳ Wait 30s (container ready)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "⏳ Wait 30s (container ready)": {
      "main": [
        [
          {
            "node": "🚀 IG: media_publish",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "🚀 IG: media_publish": {
      "main": [
        [
          {
            "node": "🔗 IG: Get Permalink",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "🔗 IG: Get Permalink": {
      "main": [
        [
          {
            "node": "🌐 FB: Publish Photo",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "✅ Notify WhatsApp Success": {
      "main": [
        [
          {
            "node": "📊 Google Sheets Log",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "🌐 FB: Publish Photo": {
      "main": [
        [
          {
            "node": "✅ Notify WhatsApp Success",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "🕐 Compute wait_seconds": {
      "main": [
        [
          {
            "node": "⏰ ¿Programado?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "⏰ ¿Programado?": {
      "main": [
        [
          {
            "node": "⏳ Wait — Scheduled Publish",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "🔧 Prep Re-host Input",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "⏳ Wait — Scheduled Publish": {
      "main": [
        [
          {
            "node": "🔧 Prep Re-host Input",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "saveManualExecutions": true,
    "callerPolicy": "workflowsFromSameOwner",
    "availableInMCP": false,
    "binaryMode": "separate"
  }
}