n8n/workflow.json
{
  "name": "Propulsar — Content Engine v3",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "propulsar-content",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "webhook-trigger",
      "name": "🎯 Webhook Trigger",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        200,
        300
      ]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={ \"status\": \"received\" }",
        "options": {}
      },
      "id": "respond-wizard",
      "name": "✅ Responder al Wizard",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [
        420,
        160
      ]
    },
    {
      "parameters": {
        "model": "gpt-4o",
        "messages": {
          "values": [
            {
              "role": "system",
              "content": "Eres el director creativo de Propulsar.ai, agencia de automatizaciones IA para PYMEs.\n\nTu tarea es generar prompts de imagen para cada slide de un carrusel de Instagram/Facebook, más los captions para ambas plataformas.\n\nPRIMERO elige la estructura de carrusel más adecuada para el tema y tipo:\n- narrativo: cuenta una historia con arco (inicio → desarrollo → resolución)\n- listicle: lista de tips, herramientas o beneficios numerados\n- paso-a-paso: instrucciones secuenciales para lograr algo\n- antes-después: contraste entre una situación actual y la transformación\n- pregunta-respuesta: hook con pregunta, slides respondiendo, CTA final\n\nIDENTIDAD VISUAL PROPULSAR (aplicar en CADA prompt sin excepción):\n- Fondo oscuro profundo: #1a1a2e\n- Gradiente principal: púrpura #6B46C1 → magenta #EC4899\n- Tipografía bold en español, legible, prominente\n- Formato cuadrado 1:1\n- Estética profesional tech/AI, alto contraste\n\nREGLAS CRÍTICAS:\n1. Cada campo `prompt` debe ser COMPLETAMENTE autocontenido con TODAS las restricciones de estilo. Prohibido usar \"same as above\", \"idem\" o referencias a otros slides.\n2. El array `slides` debe tener EXACTAMENTE el número de slides solicitados.\n3. Los `prompt` van en inglés. Los `texto_overlay` van en español.\n4. Responde con JSON puro sin markdown, sin bloques ```json.\n\nFORMATO DE RESPUESTA:\n{\n  \"estructura\": \"narrativo|listicle|paso-a-paso|antes-después|pregunta-respuesta\",\n  \"instagram_caption\": \"caption completo con hook <125 chars, 150-300 palabras, párrafos cortos, 8-12 hashtags, máx 3 emojis al inicio de línea, CTA claro\",\n  \"facebook_caption\": \"caption 100-200 palabras, 3-5 hashtags, pregunta para comentarios al final, CTA\",\n  \"slides\": [\n    {\n      \"slide_num\": 1,\n      \"texto_overlay\": \"texto visible en la imagen en español\",\n      \"prompt\": \"full English image generation prompt with all style constraints: dark background #1a1a2e, purple #6B46C1 to magenta #EC4899 gradient elements, bold readable Spanish typography '[texto_overlay]', square 1:1, professional AI/tech aesthetic, ultra-detailed\"\n    }\n  ]\n}\n\nVoz de marca: profesional pero accesible, directo, español latinoamericano (tuteo). Sin buzzwords: prohibido revolutionario, disruptivo, sinergia, delve."
            },
            {
              "role": "user",
              "content": "=Tema: \"{{ $json.body.topic }}\"\nTipo: {{ $json.body.type }}\n{% if $json.body.angle %}Ángulo: {{ $json.body.angle }}\n{% endif %}Slides requeridos: {{ $json.body.num_images }}\n\nElige la estructura del carrusel apropiada y genera EXACTAMENTE {{ $json.body.num_images }} prompts de imagen, más los captions para Instagram y Facebook."
            }
          ]
        },
        "options": {
          "temperature": 0.7
        }
      },
      "id": "openai-carousel",
      "name": "🎠 GPT-4o — Prompts Carrusel",
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 1.4,
      "position": [
        640,
        520
      ],
      "credentials": {
        "openAiApi": {
          "id": "openai-credentials",
          "name": "OpenAI"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const raw = $input.first().json.message.content;\nconst b = $('🎯 Webhook Trigger').first().json.body;\n\nlet parsed;\ntry {\n  parsed = JSON.parse(raw.replace(/```json\\n?/g,'').replace(/```\\n?/g,'').trim());\n} catch(e) {\n  throw new Error('JSON inválido de GPT-4o (carrusel): ' + raw.substring(0,200));\n}\n\nconst slides = parsed.slides || [];\n\nif (slides.length !== b.num_images) {\n  console.warn(`⚠ GPT-4o devolvió ${slides.length} slides, se esperaban ${b.num_images}`);\n}\n\nreturn [{\n  json: {\n    instagram:       { caption: parsed.instagram_caption || '' },\n    facebook:        { caption: parsed.facebook_caption || '' },\n    topic:           b.topic,\n    type:            b.type,\n    angle:           b.angle || null,\n    platforms:       b.platforms,\n    image_model:     'ideogram',\n    fal_model_id:    null,\n    has_own_image:   false,\n    image_url:       null,\n    has_text_in_image: true,\n    approval_number: b.approval_number,\n    timestamp:       b.timestamp,\n    format:          'carousel',\n    num_images:      b.num_images,\n    estructura:      parsed.estructura || 'listicle',\n    image_prompts:   slides.map(s => ({\n      slide_num:     s.slide_num,\n      texto_overlay: s.texto_overlay,\n      prompt:        s.prompt,\n    })),\n  }\n}];",
        "mode": "runOnceForAllItems"
      },
      "id": "parse-carousel",
      "name": "🔧 Parsear prompts carrusel",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        860,
        520
      ]
    },
    {
      "parameters": {
        "jsCode": "const data = $input.first().json;\nconst prompts = data.image_prompts;\n\nreturn prompts.map(slide => ({\n  json: {\n    slide_num:       slide.slide_num,\n    texto_overlay:   slide.texto_overlay,\n    prompt:          slide.prompt,\n    approval_number: data.approval_number,\n    num_images:      data.num_images,\n    topic:           data.topic,\n    type:            data.type,\n  }\n}));",
        "mode": "runOnceForAllItems"
      },
      "id": "explode-carousel-slides",
      "name": "🎠 Explode Slides",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1080,
        520
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.ideogram.ai/generate",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Api-Key",
              "value": "={{ $env.IDEOGRAM_API_KEY }}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"image_request\": {\n    \"prompt\": \"{{ $json.prompt }}\",\n    \"aspect_ratio\": \"ASPECT_1_1\",\n    \"model\": \"V_2\",\n    \"magic_prompt_option\": \"AUTO\",\n    \"style_type\": \"DESIGN\"\n  }\n}",
        "options": {}
      },
      "id": "ideogram-slide",
      "name": "🔤 Ideogram — Slide",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1520,
        520
      ],
      "notes": "Ideogram v2 per carousel slide — called once per slide via SplitInBatches loop"
    },
    {
      "parameters": {
        "model": "gpt-4o",
        "messages": {
          "values": [
            {
              "role": "system",
              "content": "Eres el redactor de contenido de Propulsar.ai, agencia de automatizaciones IA para PYMEs.\n\nVoz: profesional pero accesible, directo, español latinoamericano (tuteo).\nSin buzzwords. Prohibido: revolutionario, disruptivo, sinergia, delve, unleash.\n\nDevolvé SOLO JSON válido, sin markdown:\n{\n  \"instagram\": {\n    \"caption\": \"post completo con hashtags al final\",\n    \"image_prompt\": \"prompt en inglés para generación de imagen, dark background purple-magenta gradients, professional social media\"\n  },\n  \"facebook\": {\n    \"caption\": \"post completo (más corto, 3-5 hashtags)\"\n  }\n}"
            },
            {
              "role": "user",
              "content": "=Genera un post {{ $json.body.type }} sobre: \"{{ $json.body.topic }}\"\n\n{% if $json.body.angle %}Ángulo: {{ $json.body.angle }}{% endif %}\n{% if $json.body.has_text_in_image %}IMPORTANTE: El image_prompt debe incluir texto visible específico relevante al tema, ya que se usará Ideogram (excelente para texto en imagen).{% endif %}\n\nPlataformas: {{ $json.body.platforms.join(', ') }}\n\nInstagram: hook <125 chars, 150-300 palabras, párrafos cortos, 8-12 hashtags, máx 3 emojis, CTA.\nFacebook: 100-200 palabras, 3-5 hashtags, pregunta final para comentarios, CTA."
            }
          ]
        },
        "options": {
          "temperature": 0.75
        }
      },
      "id": "openai-text",
      "name": "🤖 GPT-4o — Texto",
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 1.4,
      "position": [
        420,
        360
      ],
      "credentials": {
        "openAiApi": {
          "id": "openai-credentials",
          "name": "OpenAI"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const raw = $input.first().json.message.content;\nlet parsed;\ntry {\n  parsed = JSON.parse(raw.replace(/```json\\n?/g,'').replace(/```\\n?/g,'').trim());\n} catch(e) {\n  throw new Error('JSON inválido de OpenAI: ' + raw.substring(0,200));\n}\nconst b = $('🎯 Webhook Trigger').first().json.body;\nreturn [{ json: {\n  instagram:       parsed.instagram || null,\n  facebook:        parsed.facebook  || null,\n  image_prompt:    parsed.instagram?.image_prompt || '',\n  platforms:       b.platforms,\n  topic:           b.topic,\n  type:            b.type,\n  angle:           b.angle || null,\n  image_model:     b.image_model || 'flux',\n  fal_model_id:    b.fal_model_id || 'fal-ai/flux-pro/v1.1',\n  has_own_image:   b.has_own_image || false,\n  image_url:       b.image_url || null,\n  has_text_in_image: b.has_text_in_image || false,\n  approval_number: b.approval_number,\n  timestamp:       b.timestamp\n}}];"
      },
      "id": "parse-content",
      "name": "🔧 Parsear contenido",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        640,
        360
      ]
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{ String($json.has_own_image) }}",
              "value2": "true",
              "operation": "equal"
            }
          ]
        }
      },
      "id": "check-own-image",
      "name": "🖼️ ¿Imagen propia?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        860,
        360
      ]
    },
    {
      "parameters": {
        "jsCode": "return [{ json: { ...$input.first().json, final_image_url: $input.first().json.image_url } }];"
      },
      "id": "use-own-image",
      "name": "📎 Imagen propia",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1080,
        200
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://fal.run/fal-ai/flux-pro/v1.1",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "=Key {{ $env.FAL_API_KEY }}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"prompt\": \"{{ $json.image_prompt }} — style: dark background #1a1a2e, purple to magenta gradient accents, professional high-quality social media graphic, ultra detailed, 4K\",\n  \"image_size\": \"square_hd\",\n  \"num_inference_steps\": 28,\n  \"guidance_scale\": 3.5,\n  \"num_images\": 1,\n  \"enable_safety_checker\": true\n}",
        "options": {}
      },
      "id": "flux-generate",
      "name": "⚡ Flux 2 Pro (FAL.AI)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1300,
        300
      ],
      "notes": "FAL model: fal-ai/flux-pro/v1.1\nCosto: ~$0.03/img\nFortaleza: fotorrealismo premium"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.ideogram.ai/generate",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Api-Key",
              "value": "={{ $env.IDEOGRAM_API_KEY }}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"image_request\": {\n    \"prompt\": \"{{ $json.image_prompt }} — professional design, dark background #1a1a2e, purple and magenta gradient elements, bold readable typography, social media post\",\n    \"aspect_ratio\": \"ASPECT_1_1\",\n    \"model\": \"V_2\",\n    \"magic_prompt_option\": \"AUTO\",\n    \"style_type\": \"DESIGN\"\n  }\n}",
        "options": {}
      },
      "id": "ideogram-generate",
      "name": "🔤 Ideogram v3",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1300,
        440
      ],
      "notes": "Costo: ~$0.06/img\nFortaleza: texto legible en imagen (90-95% precisión)\nRequiere IDEOGRAM_API_KEY"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://fal.run/fal-ai/nano-banana",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "=Key {{ $env.FAL_API_KEY }}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"prompt\": \"{{ $json.image_prompt }} — ultra high quality, dark background #1a1a2e, purple magenta gradient accents, professional social media graphic, 4K resolution, photorealistic\",\n  \"num_images\": 1,\n  \"aspect_ratio\": \"1:1\",\n  \"output_format\": \"png\",\n  \"safety_tolerance\": \"4\"\n}",
        "options": {}
      },
      "id": "nano-banana-generate",
      "name": "🍌 Nano Banana Pro (FAL.AI)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1300,
        580
      ],
      "notes": "FAL model: fal-ai/nano-banana (Gemini 3 Pro Image)\nCosto: ~$0.15/img\nFortaleza: razonamiento visual, 4K, alto impacto\nMisma FAL_API_KEY que Flux"
    },
    {
      "parameters": {
        "jsCode": "// Normalizar la URL de imagen de cualquier proveedor\nconst content = $('🔧 Parsear contenido').first().json;\nconst imageData = $input.first().json;\nconst model = content.image_model;\n\nlet finalUrl = null;\n\nif (model === 'flux' || model === 'nanoBanana') {\n  // FAL.AI devuelve: { images: [{ url }] } o { image: { url } }\n  finalUrl = imageData.images?.[0]?.url\n          || imageData.image?.url\n          || null;\n} else if (model === 'ideogram') {\n  // Ideogram devuelve: { data: [{ url }] }\n  finalUrl = imageData.data?.[0]?.url || null;\n} else if (model === 'custom') {\n  finalUrl = content.image_url;\n}\n\nif (!finalUrl) {\n  console.warn('⚠ No se pudo extraer URL de imagen. Respuesta:', JSON.stringify(imageData).substring(0, 300));\n}\n\nreturn [{ json: { ...content, final_image_url: finalUrl, image_provider_response: imageData } }];"
      },
      "id": "normalize-image",
      "name": "🔗 Normalizar URL imagen",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1520,
        440
      ]
    },
    {
      "parameters": {
        "jsCode": "// Handle single-post and carousel — read from correct upstream node\nlet d;\ntry {\n  d = $('🗂️ Collect Image URLs').first().json;\n} catch(e1) {\n  try {\n    d = $('🔗 Normalizar URL imagen').first().json;\n  } catch(e2) {\n    d = $input.first().json;\n  }\n}\n\nconst isCarousel = d.format === 'carousel';\n\nconst typeEmoji  = { educational:'📚', authority:'🎤', case_study:'🏆' };\nconst typeLabel  = { educational:'Educativo', authority:'Autoridad', case_study:'Caso de éxito' };\nconst modelInfo  = {\n  flux:       '⚡ Flux 2 Pro',\n  ideogram:   '🔤 Ideogram v3',\n  nanoBanana: '🍌 Nano Banana Pro',\n  custom:     '📎 Imagen propia',\n};\n\nconst igPreview = d.instagram?.caption?.substring(0, 280) || 'N/A';\nconst fbPreview = d.facebook?.caption?.substring(0, 180) || 'N/A';\nconst igDots = (d.instagram?.caption?.length || 0) > 280 ? '...' : '';\nconst fbDots = (d.facebook?.caption?.length || 0)  > 180 ? '...' : '';\n\nconst imageStatus = isCarousel\n  ? `🎠 ${d.image_urls?.length || 0} imágenes generadas (carrusel)`\n  : `🖼️ ${d.final_image_url ? '✅ Imagen generada' : '⚠️ Sin imagen'}`;\n\nconst formatLine = isCarousel\n  ? `\\n🎠 *Formato:* Carrusel (${d.num_images} slides)`\n  : '';\n\nconst msg = `🚀 *PROPULSAR CONTENT ENGINE*\n\n${typeEmoji[d.type] || '📝'} *Tipo:* ${typeLabel[d.type] || d.type}\n📌 *Tema:* ${d.topic}\n${d.angle ? `🎯 *Ángulo:* ${d.angle}\\n` : ''}📱 *Redes:* ${(d.platforms || []).join(', ')}\n🖼️ *Imagen:* ${modelInfo[d.image_model] || d.image_model}${formatLine}\n\n━━━━━━━━━━━━━━━━\n📸 *INSTAGRAM:*\n${igPreview}${igDots}\n\n━━━━━━━━━━━━━━━━\n👥 *FACEBOOK:*\n${fbPreview}${fbDots}\n\n━━━━━━━━━━━━━━━━\n${imageStatus}\n\n*¿Publicar?*\n✅ *SI* para publicar\n❌ *NO* para cancelar`;\n\nreturn [{ json: { ...d, whatsapp_message: msg, session_id: `propulsar_${Date.now()}` } }];"
      },
      "id": "prepare-whatsapp",
      "name": "📱 Preparar mensaje WA",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1740,
        440
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.ycloud.com/v2/whatsapp/messages",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "X-API-Key",
              "value": "={{ $env.YCLOUD_API_KEY }}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ \"from\": $env.YCLOUD_WHATSAPP_NUMBER, \"to\": $json.approval_number, \"type\": \"text\", \"text\": { \"body\": $json.whatsapp_message } }) }}",
        "options": {}
      },
      "id": "send-whatsapp",
      "name": "📤 Enviar WhatsApp",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1960,
        440
      ]
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "propulsar-whatsapp-reply",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "webhook-reply",
      "name": "📨 Webhook — Reply WA",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        2180,
        440
      ],
      "notes": "Configurar esta URL en YCloud → Webhooks → Incoming Messages"
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={ \"status\": \"ok\" }",
        "options": {}
      },
      "id": "respond-ycloud",
      "name": "✅ Responder YCloud",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [
        2400,
        280
      ]
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{ $json.body?.message?.text?.body?.trim().toUpperCase() }}",
              "value2": "SI",
              "operation": "equal"
            }
          ]
        }
      },
      "id": "check-approval",
      "name": "✅ ¿Aprobado?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        2400,
        460
      ]
    },
    {
      "parameters": {
        "jsCode": "// Recuperar sesión de Supabase\nconst phone = $json.body?.message?.from;\nconst supabaseUrl = $env.SUPABASE_URL;\nconst supabaseKey = $env.SUPABASE_ANON_KEY;\n\nif (!supabaseUrl || !supabaseKey) {\n  console.log('Supabase no configurado — modo testing');\n  return [{ json: { approved: true, topic: 'TEST', note: 'Configurar Supabase' } }];\n}\n\nconst https = require('https');\nconst url = new URL(`${supabaseUrl}/rest/v1/content_sessions?approval_number=eq.${phone}&status=eq.pending&order=created_at.desc&limit=1`);\n\nconst session = await new Promise((resolve, reject) => {\n  const req = https.get({\n    hostname: url.hostname,\n    path: url.pathname + url.search,\n    headers: { 'apikey': supabaseKey, 'Authorization': `Bearer ${supabaseKey}` }\n  }, (res) => {\n    let d = '';\n    res.on('data', c => d += c);\n    res.on('end', () => { try { resolve(JSON.parse(d)[0] || null); } catch { resolve(null); }});\n  });\n  req.on('error', reject);\n});\n\nif (!session) throw new Error('Sesión pendiente no encontrada para: ' + phone);\nreturn [{ json: session }];"
      },
      "id": "retrieve-session",
      "name": "🔍 Recuperar sesión Supabase",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2620,
        380
      ]
    },
    {
      "parameters": {
        "jsCode": "console.log('Rechazado:', $json.body?.message?.from, new Date().toISOString());\nreturn [{ json: { status:'rejected', ts: new Date().toISOString() } }];"
      },
      "id": "log-rejected",
      "name": "❌ Loguear rechazo",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2620,
        560
      ]
    },
    {
      "parameters": {
        "jsCode": "const carousel = $('🔧 Parsear prompts carrusel').first().json;\nconst loopItems = $input.all();\n\n// IMG-02: Normalize and validate all image URLs\nconst imageUrls = loopItems.map(item => {\n  const url = item.json.data?.[0]?.url || null;\n  if (url && typeof url === 'string' && url.startsWith('https://')) {\n    return url; // Keep full URL with auth params (exp, sig)\n  }\n  return null;\n}).filter(Boolean);\n\nif (imageUrls.length !== carousel.num_images) {\n  throw new Error('Se generaron ' + imageUrls.length + ' imagenes, se esperaban ' + carousel.num_images + '. Faltan slides.');\n}\n\nreturn [{\n  json: {\n    instagram:       carousel.instagram,\n    facebook:        carousel.facebook,\n    topic:           carousel.topic,\n    type:            carousel.type,\n    angle:           carousel.angle || null,\n    platforms:       carousel.platforms,\n    image_model:     'ideogram',\n    approval_number: carousel.approval_number,\n    timestamp:       carousel.timestamp,\n    format:          'carousel',\n    num_images:      carousel.num_images,\n    image_urls:      imageUrls,\n    final_image_url: imageUrls[0] || null,\n  }\n}];",
        "mode": "runOnceForAllItems"
      },
      "id": "collect-carousel-urls",
      "name": "🗂️ Collect Image URLs",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1740,
        520
      ]
    },
    {
      "parameters": {
        "jsCode": "const data = $input.first().json;\nconst urls = data.image_urls;\n\nreturn urls.map((url, idx) => ({\n  json: {\n    current_image_url: url,\n    slide_index:       idx + 1,\n    num_images:        data.num_images,\n    approval_number:   data.approval_number,\n    _carousel_data:    data,\n  }\n}));",
        "mode": "runOnceForAllItems"
      },
      "id": "split-wa-urls",
      "name": "📨 Split URLs WA",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1960,
        520
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.ycloud.com/v2/whatsapp/messages",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "X-API-Key",
              "value": "={{ $env.YCLOUD_API_KEY }}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ \"from\": $env.YCLOUD_WHATSAPP_NUMBER, \"to\": $json.approval_number, \"type\": \"image\", \"image\": { \"link\": $json.current_image_url, \"caption\": \"Slide \" + $json.slide_index + \" de \" + $json.num_images } }) }}",
        "options": {}
      },
      "id": "send-wa-image",
      "name": "📤 Enviar imagen WA",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        2400,
        620
      ],
      "notes": "YCloud sendDirectly — sends one carousel image per loop iteration"
    },
    {
      "parameters": {
        "documentId": {
          "value": "={{ $env.GOOGLE_SHEETS_ID }}"
        },
        "sheetName": {
          "value": "Log"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Fecha": "={{ new Date().toISOString() }}",
            "Tema": "={{ $json.topic }}",
            "Tipo": "={{ $json.type }}",
            "Angulo": "={{ $json.angle || '' }}",
            "Plataformas": "={{ Array.isArray($json.platforms) ? $json.platforms.join(', ') : '' }}",
            "Modelo_Imagen": "={{ $json.image_model }}",
            "Imagen_URL": "={{ $json.final_image_url || '' }}",
            "Estado": "Publicado"
          }
        }
      },
      "id": "log-sheets",
      "name": "📊 Google Sheets Log",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.4,
      "position": [
        2840,
        380
      ],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "google-sheets-credentials",
          "name": "Google Sheets"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{ $json.body.format }}",
              "value2": "carousel",
              "operation": "equal"
            }
          ]
        }
      },
      "id": "carousel-check",
      "name": "🔀 ¿Carrusel?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        420,
        520
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.ycloud.com/v2/whatsapp/messages",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "X-API-Key",
              "value": "={{ $env.YCLOUD_API_KEY }}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ \"from\": $env.YCLOUD_WHATSAPP_NUMBER, \"to\": $json.approval_number, \"type\": \"image\", \"image\": { \"link\": $json.final_image_url, \"caption\": \"Preview — \" + $json.topic } }) }}",
        "options": {}
      },
      "id": "send-single-image",
      "name": "📤 Enviar preview imagen",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1200,
        460
      ],
      "notes": "Single-post: sends image preview before text message"
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{ $json.image_model }}",
              "value2": "ideogram",
              "operation": "equal"
            }
          ]
        }
      },
      "id": "router-if-ideogram",
      "name": "🎨 ¿Ideogram?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        1080,
        440
      ]
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{ $json.image_model }}",
              "value2": "nanoBanana",
              "operation": "equal"
            }
          ]
        }
      },
      "id": "router-if-nano",
      "name": "🎨 ¿NanoBanana?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        1280,
        540
      ]
    }
  ],
  "connections": {
    "🎯 Webhook Trigger": {
      "main": [
        [
          {
            "node": "✅ Responder al Wizard",
            "type": "main",
            "index": 0
          },
          {
            "node": "🔀 ¿Carrusel?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "🔀 ¿Carrusel?": {
      "main": [
        [
          {
            "node": "🎠 GPT-4o — Prompts Carrusel",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "🤖 GPT-4o — Texto",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "🎠 GPT-4o — Prompts Carrusel": {
      "main": [
        [
          {
            "node": "🔧 Parsear prompts carrusel",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "🔧 Parsear prompts carrusel": {
      "main": [
        [
          {
            "node": "🎠 Explode Slides",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "🎠 Explode Slides": {
      "main": [
        [
          {
            "node": "🔤 Ideogram — Slide",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "🔤 Ideogram — Slide": {
      "main": [
        [
          {
            "node": "🗂️ Collect Image URLs",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "🗂️ Collect Image URLs": {
      "main": [
        [
          {
            "node": "📨 Split URLs WA",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "📨 Split URLs WA": {
      "main": [
        [
          {
            "node": "📤 Enviar imagen WA",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "📤 Enviar imagen WA": {
      "main": [
        [
          {
            "node": "📱 Preparar mensaje WA",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "🤖 GPT-4o — Texto": {
      "main": [
        [
          {
            "node": "🔧 Parsear contenido",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "🔧 Parsear contenido": {
      "main": [
        [
          {
            "node": "🖼️ ¿Imagen propia?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "🖼️ ¿Imagen propia?": {
      "main": [
        [
          {
            "node": "📎 Imagen propia",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "🎨 ¿Ideogram?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "📎 Imagen propia": {
      "main": [
        [
          {
            "node": "📱 Preparar mensaje WA",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "⚡ Flux 2 Pro (FAL.AI)": {
      "main": [
        [
          {
            "node": "🔗 Normalizar URL imagen",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "🔤 Ideogram v3": {
      "main": [
        [
          {
            "node": "🔗 Normalizar URL imagen",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "🍌 Nano Banana Pro (FAL.AI)": {
      "main": [
        [
          {
            "node": "🔗 Normalizar URL imagen",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "🔗 Normalizar URL imagen": {
      "main": [
        [
          {
            "node": "📤 Enviar preview imagen",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "📱 Preparar mensaje WA": {
      "main": [
        [
          {
            "node": "📤 Enviar WhatsApp",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "📨 Webhook — Reply WA": {
      "main": [
        [
          {
            "node": "✅ Responder YCloud",
            "type": "main",
            "index": 0
          },
          {
            "node": "✅ ¿Aprobado?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "✅ ¿Aprobado?": {
      "main": [
        [
          {
            "node": "🔍 Recuperar sesión Supabase",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "❌ Loguear rechazo",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "🔍 Recuperar sesión Supabase": {
      "main": [
        [
          {
            "node": "📊 Google Sheets Log",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "📤 Enviar preview imagen": {
      "main": [
        [
          {
            "node": "📱 Preparar mensaje WA",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "🎨 ¿Ideogram?": {
      "main": [
        [
          {
            "node": "🔤 Ideogram v3",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "🎨 ¿NanoBanana?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "🎨 ¿NanoBanana?": {
      "main": [
        [
          {
            "node": "🍌 Nano Banana Pro (FAL.AI)",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "⚡ Flux 2 Pro (FAL.AI)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "saveManualExecutions": true
  },
  "tags": [
    "propulsar",
    "content-engine",
    "v3"
  ],
  "_meta": {
    "version": "3.1",
    "image_models": {
      "flux": {
        "fal_id": "fal-ai/flux-pro/v1.1",
        "cost": "$0.03/img",
        "key": "FAL_API_KEY"
      },
      "ideogram": {
        "api": "api.ideogram.ai",
        "cost": "$0.06/img",
        "key": "IDEOGRAM_API_KEY"
      },
      "nanoBanana": {
        "fal_id": "fal-ai/nano-banana",
        "cost": "$0.15/img",
        "key": "FAL_API_KEY"
      }
    },
    "note": "Midjourney NO incluido — no tiene API oficial. Riesgo de ban en servicios de terceros. Ver README.",
    "carousel_branch": "Added in v3.1 — IF node routes carousel briefs to dedicated GPT-4o node for per-slide prompt generation"
  }
}